.field--field-tiles-extended {
  display: table-cell;
  vertical-align: middle;
}

.tiles-extended {
  @extend .col;
  @extend .m2;
  @extend .s2;
  @extend .l2;
  .field--field-image {
    margin: 0 auto;
    width: 60px;
    padding-bottom: 10px;
    img {
      height: auto;
      max-width: 100%;
      opacity: 0.7;
      display: block;
      &:hover {
        opacity: 1;
      }
      @media #{$small-and-down} {
        width: 40px;
      }
    }
  }
  .field.field--field-text {
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    @media #{$medium-and-down} {
      font-size: 9px;
    }
    @media #{$small-and-down} {
      font-size: 7px;
    }
  }
}
