.horizontal-article-wrapper {
  margin-top: 70px;
  margin-bottom: 30px;
  width: 93%;
  margin: 0 auto;
}
.comment-article-wrap {
  @extend .row;
  .author-article-details {
    padding-top: 25px;
    padding-bottom: 40px;
    width: 95%;
    margin: 0 auto;
    @media #{$medium-and-down} {
      @include flexbox();
      > div {
        float: none !important;
        &.author-picture {
          width: 55px;
        }
        &.article-details {
          padding: 0px 10px;
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .author-picture {
      @extend .col;
      @extend .l1;
      @extend .m12;
      @extend .s12;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    .article-details {
      @extend .col;
      @extend .l11;
      @extend .m12;
      @extend .s12;
      padding-left: 0px;
      padding-right: 0px;
      footer {
        padding-bottom: 10px;
        .author-name {
          display: block;
          // vertical-align: middle;
          a {
            font-weight: 500;
            color: #5f5b5b;
            font-size: 14px;
            letter-spacing: -1px;
          }
          @media #{$medium-and-down} {
            display: block;
          }
        }
        .created-date {
          display: inline-block;
          color: gray;
          // margin-left: 50px;
          i {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.3rem;
          }
          .date-text {
            vertical-align: middle;
            font-style: italic;
            font-size: 11px;
            font-weight: 500;
            margin-left: 3px;
          }
          @media #{$medium-and-down} {
            display: block;
            margin: 0;
          }
        }
      }
      .comment-content {
        width: 95%;
        @media #{$medium-and-down} {
          width: 100%;
        }
        .field--comment-body {
          font-weight: 500;
          text-align: left !important;
          
          p {
            @media #{$medium-and-down} {
              font-size: 14px;
              text-align: left !important;;
            }
            @media #{$small-and-down} {
              font-size: 13px;
              text-align: left !important;;
            }
          }
        }
        .inline {
          @include flexbox();
          > li {
            padding: 5px 0;
            &:not(:last-of-type) {
              margin-right: 4px;
            }
            &:hover {
              > a {
                background: #6D34A7;
                color: #fff;
                text-decoration: none;
              }
            }
            @media #{$medium-and-down} {
              display: inline-block;
              // margin-left: 5px;
              // margin-right: 5px;
            }
            @media #{$small-and-down} {
              text-align: center;
            }
            a {
              color: #171717;
              padding: 5px 10px;
              border: 1px solid #6D34A7;
              cursor: pointer;
            }
          }
          .comment-delete {
            @media #{$medium-and-down} {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}
