.paragraph--type--card-watermark {
  position: relative;
  min-height: 300px;
  padding: 20px;
  text-align: center;
  max-width: 278px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  @media #{$medium-and-down} {
    min-height: 310px;
  }
  .watermark-wrap {
    position: absolute;
    font-size: 120px;
    font-weight: 600;
    line-height: 94px;
    bottom: 15px;
    top: auto;
    right: 10px;
    @media #{$medium-and-down} {
      font-size: 100px;
      line-height: 80px;
    }
  }
  .field--field-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.75px;
    @media #{$medium-and-down} {
      font-size: 14px;
    }
  }
  .field--field-description {
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.75px;
    @media #{$medium-and-down} {
      font-size: 12px;
    }
    p {
      margin-top: 0;
    }
  }
  @include breakpoint($small-med) {
    min-height: 250px;
  }
}
