.teaser-listing {
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
  width: 100%;
}

.listing-content {
  float: left;
  max-width: 100%;
  .listing-contents{
    &.card {
      border: 0;
      box-shadow: none;
      margin: 0;
      height: 235px;
      @media #{$small-and-down} {
        height: auto;
      }
      .listing-title {
        white-space: normal;
        overflow: visible;
        text-overflow: inherit;
        a {
          font-size: 19px;
          color: #000;
          height: 30px;
          font-weight: bold;
        }
      }
      .author-details {
        font-size: 12px;
        color: #7d7d7d;
        text-transform: uppercase;
        a {
          color: #7d7d7d;
          text-transform: uppercase;
        }
      }
      .meta_details {
        padding: 0;
        @media #{$small-and-down} {
          // height: 50px;
          > span {
            display: inline-block;
          }
        }
        .calendar-date {
          padding-right: 20px;
          vertical-align: middle;
          i {
            color: #b239c5;
            font-size: 15px;
          }
        }
        .the_tags {
          padding-right: 20px;
          vertical-align: middle;
          i {
            color: #b239c5;
            font-size: 15px;
          }
          span {
            a {
              font-size: 12px;
              color: #000;
              text-transform: uppercase;
            }
          }
        }
        .share_article {
          cursor: pointer;
          font-size: 12px;
          i {
            color: #b239c5;
            font-size: 15px;
          }
        }
      }
      .listing-body {
        height: 145px;
        overflow: hidden;
        width: 100%;
        margin-top: 17px;
        font-size: 14px;
      }
    }
  }
}
.listing-images {
    display: block;
    img {
      width: 100%;
      height: 235px;
    }
}
