.block {
  &.block--type-basic {
    @extend .container;
    text-align: center;
    margin-top: 40px;
    @include medium {
      margin-top: 10px;
    }
    h2 {
      font-size: 40px;
      font-family: 'Exo', sans-serif;
      font-weight: 400;
      @include medium {
        font-size: 28px;
      }
      @include small-large {
        font-size: 24px;
      }
    }
    .field--body {
      font-size: 18px;
      line-height: 32px;
      color: $black;
      margin-top: 25px;
      font-weight: 300;
      a {
        color: $primary;
      }
      @include medium {
        font-size: 16px;
        line-height: 28px;
        margin-top: 0;
      }
      @include small-large {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
