.insight-blocks {
  padding-bottom: 30px;
}
.insight-container {
  .more-link {
    font-size: 25px;
    font-weight: bold;
  }
}
.block-views-block-work-block-1 {
  margin-bottom: 60px;
}
.block--view-insights-category-view,
.block--view-industry,
.block--view-work {
  width: 91%;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom:0px;
  @media #{$medium-and-down} {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    float: left;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom:0px;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      padding-left: 0px;
      float: none;
      text-align: center;
    }
  }
  .insight--actions-wrap {
    @media #{$medium-and-down} {
      text-align: center;
    }
  }
  .more-link,
  .subscribe,
  .pipe {
    font-size: 23px;
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 40px;
    margin-right: 5px;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      margin-right: 0px;
      position: static;
      float: none;
      display: inline-block;
      text-align: center;
      font-size: 16px;
    }
  }
  .subscribe {
    margin-right: 34px;
    @media #{$medium-and-down} {
      margin-right: 0px;
    }
  }
  .pipe {
    color: #039be5;
  }
}
