#stewardsslider {
  .stewards_slickSlide-inner img {
    border-radius: 50%;
  }
  .stewards_slickSlide-inner {
    display: none;
    &.slick-initialized {
      display: block;
    }
  }
  a.slide-control.slick-arrow {
    height: 25%;
  }
}
