.btn-def {
  background-color: $perssian_green;
  border: 1px solid $perssian_green;
  color: $white;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  width: 200px;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: "Exo";
  font-size: 20px;
  text-align: center;
  @include transition(background-color, ease, 0.5s);
  &:hover {
    background-color: $white;
    color: $perssian_green;
  }
  &:focus {
    outline: none;
  }
  &--rev {
    @extend .btn-def;
    background-color: $white;
    color: $perssian_green;
    &:hover {
      background-color: $perssian_green;
      color: $white;
    }
  }
  @include medium {
    font-size: 14px;
    width: 158px;
  }
  @include small-large {
    width: 138px;
    height: 38px;
    line-height: 38px;
  }
  &--white {
    opacity: 1;
    border-color: rgb(221, 221, 221);
    background-color: rgba(252, 248, 247, 0.98);
    color: $primary;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    border-width: 2px;
    border-radius: 0px;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Exo";
    margin-top: 8px;
    height: 42px;
    @include transition((background-color, color), ease, 0.5s);
    &:hover {
      color: rgba(252, 248, 247, 0.98);
      background-color: $primary;
    }
  }
}
