input {
  &:not([type=checkbox]):not([type=radio]) {
    width: 100%;
    display: block;
    padding: 14.5px 10px;
    margin-bottom: 10px;
    border: 1px solid $border;
    &:focus {
      border: 1px solid $border;
    }
  }
}
