.teaser-insights {
  @media #{$medium-and-down} {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
}

.insight-content {
  box-shadow: 0 4px 7px -4px black;
  .insights-body {
    padding: 8px 0 0 0;
  }
  .card-content {
    .col.l2.m2.s2 {
      height: 22px;
    }
  }
  .insight-images {
    @media #{$medium-and-down} {
      // styles for medium screens and down
      text-align: center;
      font-size: 15px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .insight-title {
    font-weight: 500;
    font-size: 23px;
    margin-top: 2px;
    max-height: 85px;
    min-height: 85px;
    line-height: 33px;
    padding-top: 15px;

    a {
      color: #000000;
    }
    span {
      @extend .truncate;
      white-space: normal;
    }
    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 18px;
      margin-top: 7px;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      font-size: 16px;
      margin-top: 8px;
    }
  }
  .insight-body {
    height: 70px;
    line-height: 23px;
    overflow: hidden;
    &.ddd-truncated {
      visibility: visible;
    }
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 23px;
      margin-top: 7px;
      @media #{$medium-and-down} {
        // styles for medium screens and down
        text-align: justify;
        font-size: 12px;
      }
      @media #{$small-and-down} {
        // styles for medium screens and down
        font-size: 10px;
      }
    }
    h1,
    h2 {
      display: none;
    }
  }
  .field--field-tags {
    a {
      color: #6D34A7;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
      &:not(:last-of-type) {
        &::after {
          content: "|";
          padding-left: 3px;
          color: #6D34A7;
        }
      }
      @media #{$medium-and-down} {
        font-size: 90%;
        margin-top: 7px;
      }
      @media #{$small-and-down} {
        font-size: 100%;
      }
    }
    >div {
      display: inline-block;
    }
  }
  .author-info {
    color: #666666;
    font-size: 10px;
    a {
      color: #666666;
    }
    @media #{$medium-and-down} {
      font-size: 90%;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      font-size: 90%;
    }
  }
  .insight-contents {
    padding: 0 24px 12px 24px;
    box-shadow: 0 4px 7px -4px black;
    &.card {
      box-shadow: none;
    }
  }
  .card-reveal {
    p {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.placeholderimage {
  display: none;
}

body {
  &.articles {
    .teaser-insights {
      .field--field-tags {
        min-height: 25px;
      }
      .insight-images {
        &.placeholderimage {
          display: block;
        }
      }
    }
  }
}
