.insight-blocks {
  @extend .row;
  .views-row {
    @extend .col;
    @extend .l4;
    @extend .m6;
    @extend .s12;
    .content {
      @media #{$medium-and-down} {
        // styles for medium screens and down
        margin-top: 8px;
        margin-bottom: 7px;
      }
    }
  }
}
