footer.footer {
  background-color: $white;
  .region--footer {
    @extend .container-fluid;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    color: $black;
    font-size: 13px;
    font-weight: 300;
    @include medium {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      font-size: 12px;
    }
    @include small-large {
      padding-top: 21.5px;
      padding-bottom: 12.5px;
    }
    a {
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
    .block--type-footer-copyright-section {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      .field--body {
        @extend .col-sm-9;
        @include small-large {
          text-align: center;
          font-size: 11px;
          line-height: 17px;
        }
        p {
          margin: 0;
          span {
            display: inline-block;
            vertical-align: middle;
            &::after {
              content: " | ";
            }
            &:first-of-type {
              @include small-large {
                display: block;
                &::after {
                  display: none;
                }
              }
            }
            ~span::after {
              margin-left: 10px;
              margin-right: 10px;
              @include small-large {
                margin-left: 5px;
                margin-right: 5px;
              }
            }
          }
          a {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .social-media {
        @extend .col-sm-3;
        text-align: right;
        margin: 0;
        @include small-large {
          text-align: center;
        }
      }
    }
  }
}
