.footer-first {
  background-color: $primary;
  padding-top: 35px;
  padding-bottom: 35px;
  @include medium {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .region--footer-first {
    nav {
      @extend .col-sm-3;
      padding-left: 0;
      padding-right: 0;
      color: $white;
      h2 {
        font-size: 18px;
        font-family: "Exo";
        color: inherit;
        @include medium {
          font-size: 16px;
          font-weight: 500;
        }
      }
      ul {
        padding-left: 0;
        li {
          display: block;
          padding-top: 1.5px;
          padding-bottom: 1.5px;
          font-size: 14px;
          @include medium {
            padding-top: 3px;
            padding-bottom: 3px;
          }
          a {
            color: inherit;
            font-family: "Exo";
            font-weight: 400;
            outline: none;
          }
        }
      }
    }
  }
}
