.story--teaser {
  .content {
    @include small-large {
      margin-left: -7.5px;
      margin-right: -7.5px;
      &::after {
        content: "";
        display: block;
        clear: both;
        width: 100%;
      }
    }
    .field--field-hero-image {
      .hero-banner-link {
        display: inline-block;
        img {
          @extend .img-responsive;
        }
        @include small-large {
          float: left;
          width: 40%;
          padding-left: 7.5px;
          padding-right: 7.5px;
        }
      }
    }
    .full-desc-wrapper {
      @include small-large {
        float: left;
        width: 60%;
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
      .content-padded {
        padding-left: 20px;
        padding-right: 20px;
        @include medium {
          padding-left: 0;
          padding-right: 0;
        }
        .date-wrap {
          color: $mine-shaft;
          font-size: 14px;
          line-height: 14px;
          padding: 20px 0;
          @include medium {
            font-size: 12px;
            line-height: 12px;
            padding: 15px 0;
          }
        }
        .content-wrap {
          @include text-limit(4, 32);
          font-size: 20px;
          font-family: "Exo";
          color: $tundora;
          margin-top: 5px;
          margin-bottom: 5px;
          @include medium {
            @include text-limit(2, 18);
            font-size: 14px;
            color: $black;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          @include small-large {
            @include text-limit(3, 18);
            font-weight: 500;
            margin-top: 5px;
          }
          .content-link {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
      footer {
        border-top: 1px solid $perssian_green;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        margin-top: 25px;
        @include medium {
          margin-top: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        @include small-large {
          border-top: 0px solid transparent;
        }
        a {
          color: inherit;
        }
        .author-indicator-wrap {
          padding-top: 2.5px;
          padding-bottom: 2.5px;
          margin-left: -10px;
          margin-right: -10px;
          font-weight: 300;
          @include medium {
            font-size: 12px;
          }
          .author,
          .indicator-wrap,
          .date-wrap {
            float: left;
            width: 50%;
          }
          .date-wrap {
            @include small-large {
              font-size: 10px;
              width: 135px;
            }
          }
          .indicator-wrap {
            @include small-large {
              width: calc(100% - 135px);
            }
          }
          .author,
          .date-wrap {
            color: $black;
            font-weight: 900;
            padding-left: 10px;
            padding-right: 10px;
          }
          .indicator-wrap {
            text-align: right;
            font-size: 14px;
            color: #000;
            line-height: 14px;
            .indic-item {
              padding-left: 10px;
              padding-right: 10px;
              .fa {
                font-size: 21px;
                line-height: 15px;
                margin-left: 5px;
                margin-right: 5px;
                @include medium {
                  font-size: 15px;
                }
              }
              .count {
                position: relative;
                top: -2px;
                @include medium {
                  top: 0px;
                }
              }
            }
          }
        }
        .taxonomy-bubbles-wrap {
          padding-top: 2.5px;
          padding-bottom: 2.5px;
          @include medium {
            padding-top: 5px;
            padding-bottom: 5px;
          }
          .field--taxonomy-vocabulary-2 {
            margin-left: -3.5px;
            margin-right: -3.5px;
            >div {
              display: inline-block;
              font-size: 12px;
              min-width: 53px;
              background-color: $porcelain;
              color: $black;
              text-align: center;
              padding: 4px 12px;
              line-height: 12px;
              border-radius: 4px;
              margin-left: 3.5px;
              margin-right: 3.5px;
              @include transition(background-color, ease, 0.5s);
              &:hover {
                background-color: $primary;
                color: $white;
              }
              @include medium {
                font-size: 11px;
                margin-left: 1.5px;
                margin-right: 1.5px;
              }
              a {
                display: block;
                text-decoration: none;
                padding: 4px 12px;
                margin: -4px -12px;
                color: inherit;
              }
            }
          }
        }
      }
    }
    hr {
      border-color: $perssian_green;
      width: calc(100% - 15px);
    }
  }
}

.block--home--insight-news-wrap {
  padding-top: 25px;
  padding-bottom: 70px;
  @include medium {
    padding-top: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 45px;
  }
  .insight-news-items-wrap {
    .views-row-wrapper {
      >.views-row {
        @extend .col-md-4;
        @extend .col-sm-6;
        padding-left: 20px;
        padding-right: 20px;
        @include medium {
          padding-left: 15px;
          padding-right: 15px;
          &:nth-child(n+5) {
            display: none;
          }
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
      width: 100%;
    }
  }
  >h2 {
    @include blockTitle();
    text-align: center;
    padding-bottom: 30px;
    @include medium {
      padding-bottom: 13px;
    }
  }
}
