.field--field-partner-with-us {
  text-align: center;
  > div {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    @media #{$small-and-down} {
      border-right: 1px solid #969696;
      &:last-child {
        border: none;
      }
    }
    .partner-with-us {
      .field--field-image {
        img {
          max-width: 90%;
          height: auto;
        }
      }
    }
  }
  &::after {
    display: block;
    clear: both;
    content: "";
    border-bottom: 2px solid #969696;
    padding-top: 30px;
    margin-bottom: 35px;
    @media #{$medium-and-down} {
      margin-bottom: 22px;
    }
    @media #{$small-and-down} {
      margin-bottom: 12px;
    }
  }
}
