.career-openings-page {
  padding: 40px;

  @media #{$medium-and-down} {
    padding: 35px;
  }

  @media #{$small-and-down} {
    font-size: 25px;
  }

  .career-openings-page-row {
    border-bottom: 1px solid #949494;
    margin-bottom: 10px;

    .job-department-field {
      font-size: 22px;
      font-weight: 700;

      @media #{$medium-and-down} {
        font-size: 16px;
      }

      @media #{$small-and-down} {
        font-size: 12px;
      }

      a {
        color: $black;
      }
    }

    .job-title-field {
      font-size: 18px;
      font-weight: 500;

      @media #{$medium-and-down} {
        font-size: 14px;
      }

      @media #{$small-and-down} {
        font-size: 10px;
      }

      a {
        color: #4C96D5;
      }
    }

    .job-location-field {
      font-size: 12px;
      font-weight: 500;
      float: left;

      @media #{$medium-and-down} {
        font-size: 9px;
      }

      @media #{$small-and-down} {
        font-size: 7px;
      }

      a {
        color: $black;
      }
    }

    .link-content-field {
      float: right;
      text-transform: uppercase;
      clear: both;
      margin-bottom: 10px;

      @media #{$medium-and-down} {
        margin-bottom: 8px;
      }

      @media #{$small-and-down} {
        margin-bottom: 4px;
      }

      a {
        padding: 12px 35px;
        background: linear-gradient(110deg, #1B55DB 20%, #07C4EE 100%);
        color: $white;
        font-weight: 600;
        font-size: 12px;

        @media #{$medium-and-down} {
          font-size: 9px;
          padding: 10px 25px;
        }

        @media #{$small-and-down} {
          font-size: 7px;
          padding: 10px 20px;
        }
      }
    }
  }
}

.webform-submission-form {
  width: 75%;
  @extend .row;
  margin-top: 30px;

  @media #{$medium-and-down} {
    margin-top: 20px;
  }

  @media #{$small-and-down} {
    margin-top: 15px;
    width: 90%;
  }

  label {
    @extend .col;
    @extend .m2;
    @extend .l2;
    @extend .s2;
    text-align: right;
    font-size: 15px;
    color: $black;
    font-weight: 500;

    @media #{$medium-and-down} {
      font-size: 11px;
    }

    @media #{$small-and-down} {
      font-size: 9px;
    }
  }

  input:not([disabled]):not([type="submit"]) {
    @extend .col;
    @extend .m10;
    @extend .l10;
    @extend .s10;
    border: 1px solid #DFDFDF;
  }

  .form-actions {
    text-align: center;
  }

  input[type=submit] {
    text-align: center;
    width: 200px;
    margin: auto;
    float: none;
    background: linear-gradient(110deg, #1B55DB 20%, #07C4EE 100%);
    color: #fff;
    font-size: 15px;
    font-weight: 500;

    @media #{$medium-and-down} {
      font-size: 11px;
      width: 150px;
    }

    @media #{$small-and-down} {
      font-size: 10px;
      width: 85px;
    }
  }

  .form-required::after {
    content: "*";
    color: red;
    padding-left: 4px;
  }

  .form-item {
    height: 65px;
  }

  .description {
    display: none;
  }
}
