.node-article {

  .article-image,
  .zyxpro-casestudy-article-image {
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
      text-align: center;
    }

    img {
      height: auto;
      display: block;
      width: 100%;
      margin: 4% auto;
    }
  }

  .article-body,
  .zyxpro-casestudy-article-body {
    font-size: 15px;
    font-weight: 500;
    overflow-wrap: break-word;
    overflow-x: hidden;

    pre {
      width: 100%;
      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }

    a {
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    p {
      text-align: justify;
      word-wrap: break-word;
      white-space: pre-wrap;
      @media (max-width: 768px) {
        text-align: unset;
      }
    }

    li {
      word-wrap: break-word;
      white-space: normal;
    }

    img {
      overflow-x: scroll;
    }

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
      font-size: small;
      font-weight: 600;
    }

    @media #{$small-and-down} {
      font-size: small;
      font-weight: 600;
    }
  }

  .article-tag,
  .zyxpro-casestudy-article-tag {
    margin-top: 70px;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;

    &::after {
      content: "";
      clear: both;
      display: block;
    }

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
    }

    .field--field-tags,
    .field--taxonomy-vocabulary-2 {
      text-align: center;
      display: flex;
      flex-wrap: wrap;

      &::after {
        @media #{$medium-and-down} {
          display: block;
          content: "";
          clear: both;
        }
      }

      >div {
        padding: 12px 25px;
        border-radius: 3px;
        margin-right: 15px;
        margin-bottom: 15px;
        background: black;
        font-weight: 700;
        font-size: 11px;
        line-height: normal;
        text-transform: uppercase;

        a {
          color: #01dcbc;
          letter-spacing: 0.5px;
        }

        @media #{$medium-and-down} {
          padding: 9px 15px;
          margin-right: 5px;
          margin-left: 5px;
          float: none;
          display: inline-block;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .related-article-block,
  .related-zyxpro-casestudy-article-block {
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 20px;

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
    }

    .article-full-related-articles {
      @extend .row;

      article {
        @extend .col;
        @extend .l4;
        @extend .m4;
        @extend .s12;
      }
    }
  }

  .horizontal-row {
    width: 80%;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 25px;
    margin-bottom: -20px;

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
    }
  }

  .article-comment,
  .zyxpro-casestudy-article-comment {
    .comments-wrapper {
      margin-left: 60px;
      margin-right: 35px;
      margin-top: 60px;
    }

    .comment-wrap {
      background: #f7f7f7;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      @media #{$medium-and-down} {
        padding: 0 15px;
      }

      .comment-wrap-heading {
        h2 {
          padding-top: 55px;
          padding-bottom: 40px;
          text-align: center;
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: -1px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .relative-article-title {
    h2 {
      font-size: 28px;
      font-weight: 700;
      padding-left: 10px;
      padding-bottom: 10px;

      @media #{$medium-and-down} {
        font-size: 22px;
      }

      @media #{$small-and-down} {
        font-size: 22px;
        text-align: center;
      }
    }
  }
  .article-right-col{
    .related-article-block{
      .article-full-related-articles{
        article{
          width: 100%;
        }
      } 
    }
  }
}

.zyx-advt-wrap {
  width: 100%;
  margin: 0 auto 15px;
  max-width: 865px;
  height: 90px;
  text-align: center;
  display: none;

  @media(max-width: 991px) {
    max-width: 686.2px;
  }
  @media(max-width: 768px) {
    max-width: 328.9px;
    height: 50px;
  }

  .demo-ad  {
    background: rgb(173, 2, 2);
    height: 100%;
    width: 728px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    text-transform: capitalize;
  }
}
@media(max-width: 991px) {
  .article-right-col{
    display: none;
  }
}

.page-node-type-article {
  // Article page changes for mobile devices
  .node_header {
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .node_title_rendered {
    @media (max-width: 768px) {
      text-align: left;
    }
  }

  .content-full > .col-sm-12 {
    @media (max-width: 768px) {
      &, >.region--content {
        padding: 0;
      }
    }
  }
}