.block--type-our-team-block {
  margin-top: 68px;
  margin-bottom: 68px;
  h2 {
    @include blockTitle;
    text-align: center;
    margin-bottom: 35px;
    @include medium {
      margin-bottom: 25px;
    }
    p {
      margin: 0;
    }
  }
  .field--field-member {
    text-align: center;
    &.active {
      .paragraph--type--team-members {
        @include small-large {
          &:nth-of-type(1n + 3) {
            @include transform(scale(1));
            max-height: 100%;
            max-width: 258px;
          }
        }
      }
    }
    .paragraph--type--team-members {
      @include small-large {
        &:nth-of-type(1n + 3) {
          @include transform(scale(0));
          max-height: 0;
          max-width: 0;
          overflow: hidden;
          @include transition((max-height, transform), ease, 0.5s);
        }
      }
    }
  }
}
