$lg-height: 400px;
$md-height: 300px;
.zyxpro-second-slide-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  @include small-large {
    white-space: nowrap;
    height: 300px;
    text-align: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(247, 255, 255, 0.54);
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: inherit;
    }
    .zyxpro-second-slide-item__content {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      max-width: 300px;
    }
  }
  &.zyxpro-second-slide-item--position-right {
    .zyxpro-second-slide-item__content {
      .slide-data {
        &.slide-link {
          a {
            left: auto;
            right: -53px;
            @include medium {
              left: auto;
              right: -110px;
            }
          }
        }
      }
    }
  }
  .zyxpro-second-slide-item__content {
    @extend .container;
    min-height: $lg-height;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    overflow: hidden;
    color: $black;
    &::before {
      display: none;
    }
    &::after {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: $lg-height;
      @include medium {
        height: $md-height;
      }
      @include small-large {
        height: auto;
      }
    }
    @include medium {
      min-height: $md-height;
    }
    @include small-large {
      min-height: auto;
    }
    .slide-data {
      display: inline-block;
      float: none;
      white-space: normal;
      vertical-align: middle;
      &.slide-text {
        font-size: 40px;
        font-family: 'Exo';
        font-weight: 400;
        padding: 0;
        @include medium {
          font-size: 28px;
        }
        @include small-large {
          font-size: 24px;
        }
      }
      &.slide-link {
        a {
          height: $lg-height;
          display: inline-block;
          vertical-align: middle;
          background-color: #a6f4c1;
          transform: skewX(-11.5deg);
          width: 285px;
          position: relative;
          left: -53px;
          white-space: nowrap;
          text-align: center;
          font-family: "Exo";
          color: $black;
          font-size: 20px;
          position: relative;
          overflow: hidden;
          @include medium {
            width: 235px;
            left: -110px;
            height: $md-height;
            font-size: 18px;
          }
          @include small-large {
            width: auto;
            left: 0;
            height: auto;
            background-color: transparent;
            position: static;
            font-size: 14px;
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($primary, 1);
            left: -100%;
            top: 0;
            @include transition(left, ease, 0.5s);
            @include small-large {
              display: none;
            }
          }
          >span {
            transform: skewX(11.5deg);
            display: inline-block;
            white-space: normal;
            vertical-align: middle;
            @include transition(color, ease, 0.5s);
            i {
              background-image: url(#{$img_path}arrow_sprite.png);
              width: 25px;
              height: 9px;
              display: inline-block;
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 100% auto;
              margin-left: 15px;
              position: relative;
              top: -2px;
            }
          }
          &:hover {
            &::before {
              left: 0;
            }
            span {
              color: $white;
              i {
                background-position: left top;
              }
            }
          }
          &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
          }
        }
      }
      @include small-large {
        display: block;
        margin-top: 18px;
      }
    }
  }
}
