{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% if content.field_image|field_value %}
  {% block paragraph %}
    {% if content.field_video|field_value == '' %}
    {% set text_align = content.field_text_position|field_value[0]['#markup'] %}
    {% set new_class = [
      'zyxpro-second-slide-item',
      text_align ? 'zyxpro-second-slide-item--position-' ~ text_align|clean_class
    ] %}
    {% if not classes %}
      {% set classes = [] %}
    {% endif %}
    {% set classes = classes|merge(new_class) %}
    <div{{ attributes.addClass(classes) }} style="background-image: url('{{ content.field_image|field_value }}');">
      <div class="zyxpro-second-slide-item__content" >
        {% block content %}
          <div class="col-sm-6 slide-data slide-text {{ (text_align == 'right') ? 'visible-xs' : '' }}">{{ content.field_name|field_value[0]['#text'] }}</div>
          <div class="col-sm-3 {% if text_align != 'right' %}col-sm-offset-3{% endif %} slide-data slide-link">
            {% set url_data = content.field_link|field_value[0] %}
            <a href="{{ url_data['#url'].toString() }}"><span>{{ url_data['#title'] }} <i class="arrow-icon" ></i></span></a>
          </div>
          {% if text_align == 'right' %}
            <div class="col-sm-6 col-sm-offset-3 slide-data slide-text hidden-xs">{{ content.field_name|field_value[0]['#text'] }}</div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% else %}
    {% set new_class = [
      'zyxpro-slide-item',
      'zyxpro-slide-item--video'
    ] %}
    {% if not classes %}
      {% set classes = [] %}
    {% endif %}
    {% set classes = classes|merge(new_class) %}
    <div{{ attributes.addClass(classes) }}>
      <div class="video_wrapper">
        {{ content.field_video }}
      </div>
    </div>
    {% endif %}
  {% endblock paragraph %}
{% endif %}
