.paragraph--type--team-members {
  text-align: center;
  display: inline-block;
  width: 23%;
  vertical-align: top;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 27px;
  margin-bottom: 27px;
  @include medium {
    width: 29%;
    margin-left: 15px;
    margin-right: 15px;
  }
  @include small-large {
    width: 100%;
    max-width: 258px;
  }
  .field--field-name {
    font-size: 28px;
    font-family: "Exo";
    line-height: normal;
    color: $mine-shaft;
    margin-top: 30px;
    line-height: 28px;
    p {
      margin: 0;
    }
    @include medium {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .field--field-poistion {
    font-size: 16px;
    line-height: 32px;
    p {
      margin: 0;
    }
    @include medium {
      font-size: 12px;
    }
  }
  .field--field-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: $black;
    @include medium {
      font-size: 13px;
      line-height: 18px;
    }
  }
  .field--field-image {
    img {
      @extend .img-responsive;
      border-radius: 10px;
    }
  }
  .social-profile-icon {
    color: rgb(130, 136, 153);
    font-size: 25px;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
    &:hover {
      color: #4f4f4f;
    }
    @include medium {
      font-size: 15px;
      width: 16px;
      height: 16px;
    }
  }
}
