.block--type-banner-tiles-extended {
  background-color: #000000;
  width: 100%;
  height: 150px;
  display: table;
  padding-left: 5%;
  padding-right: 5%;
  @media #{$small-and-down} {
    padding-left: 2%;
    padding-right: 2%;
  }
}
