.path-comment {
  .main-container {
    padding: 30px;

    @media (max-width: 992px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .region--highlighted>div>div[role=alert] {
      background: no-repeat 10px 17px;
      border: 1px solid;
      border-width: 1px 1px 1px 0;
      border-radius: 2px;
      padding: 15px 20px 15px 35px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      background-color: #fcf4f2;
      color: #a51b00;
      background-image: url(/core/misc/icons/e32700/error.svg);
      border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
      box-shadow: -8px 0 0 #e62600;
    }
  }
}
