.comments-wrapper,
#comment-form {
  width: 100%;
  max-width: 700px;
  padding: 20px 25px;
  border: 1px solid #ccc;
  @media #{$medium-and-down} {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
  }
  @media #{$small-and-down} {
    width: 95%;
    margin: 0 auto !important;
  }
  >h6 {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 4px;
    @media #{$medium-and-down} {
      font-size: 9px;
    }
  }
  >h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 4% 0;
    @media #{$medium-and-down} {
      font-size: 13px;
      font-weight: 600;
    }
  }
  textarea,
  input:not([type="submit"]) {
    color: #222;
    padding: 5px 10px;
    border: 1px solid #ccc;
    @include placeholder(#8c0000);
    max-width: 100%;
    box-sizing: border-box;
  }
  input::placeholder,
  textarea::placeholder {
    font-weight: 600;
    font-size: 15px;
  }
  textarea {
    min-height: 150px;
  }
  .filter-wrapper {
    display: none;
  }
  label {
    display: none;
  }
  .form-item-name,
  .form-item-mail,
  .form-item-field-author-email-0-value {
    float: left;
    width: 100%;
    @media #{$medium-and-down} {
      width: 100%;
    }
    @media #{$small-and-down} {
      width: 100%;
    }
  }
  .form-item-name {
    margin-right: 25px;
    @media #{$medium-and-down} {
      margin-right: 8px;
    }
    @media #{$small-and-down} {
      margin-right: 0px;
    }
  }
  .field--name-field-author-email {
    margin-top: 7px;
    margin-bottom: 7px;
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }
  .form-item-field-author-email-0-value {
    input {
      margin-bottom: 0px;
    }
  }
  .form-actions {
    padding-top: 5px;
    padding-bottom: 10px;
    input {
      background-color: #00c3fa;
      padding: 20px 10px;
      height: auto;
      line-height: normal;
      font-weight: 600;
      @media #{$medium-and-down} {
        padding: 12px 5px;
        font-size: 11px;
      }
      @media #{$small-and-down} {
        padding: 12px 5px;
        font-size: 9px;
      }
    }
  }
  .js-form-item-name {
    margin-top: 7px;
  }
  .form-item-homepage {
    @extend .clearfix;
    display: none;
  }
  input#edit-mail {
    margin-top: 7px;
  }
  div#edit-mail--description {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.comments-wrapper {
  margin-left: 35px;
  margin-right: 35px;
}
