.infographics-float-items-wrapper {
  .infographics-float-items {
    display: inline-block;
    position: absolute;
    width: 8%;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -o-transition: transform .2s;
    -moz-transition: transform .2s;
  }
  .infographics-float-items:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
  }
  img {
    width: 100%;
  }
  #infographics-float-item-1{
    top: 27%;
    left: 35%;
  }
  #infographics-float-item-2 {
    top: 20%;
    right: 44%;
  }
  #infographics-float-item-3 {
    top: 25%;
    right: 35%;
  }
  #infographics-float-item-4 {
    top: 35%;
    right: 27%;
  }
  #infographics-float-item-5 {
    top: 58%;
    right: 34%;
  }
  #infographics-float-item-6 {
    bottom: 15%;
    left: 41%;
  }
  #infographics-float-item-7 {
    bottom: 24%;
    left: 32%;
  }
  #infographics-float-item-8 {
    bottom: 35%;
    left: 24%;
  }
}