.node_header {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  @media #{$medium-and-down} {
    width: 95%;
    margin: 0 auto;
    padding-left: 25.5px;
    padding-right: 25.5px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  @media #{$small-and-down} {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    box-shadow: 0 0 black;
    @include flex-wrap(wrap);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .userimg {
    display: inline-block;
    white-space: nowrap;
    @media #{$small-and-down} {
      display: none!important;
      width: 100%;
      justify-content: center;
      &::after {
        display: none !important;
      }
    }
    &::before {
      content: "";
      display: inline-block;
      height: 100%;
    }
    .personpic {
      vertical-align: middle;
    }
    .username {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      padding-left: 5px;
      text-transform: uppercase;
      font-size: 12px;
      @media #{$medium-and-down} {
        font-size: 12px;
      }
      @media #{$small-and-down} {
        padding-left: 10px;

      }
      .time {
        font-size: 9px;
        text-transform: lowercase;
        @media #{$medium-and-down} {
          font-size: 11px;
          text-align: left;
        }
      }
    }
  }
  .tags {
    .tag {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 12px;
      border-radius: 3px;
      background: black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      line-height: normal;
      color: #01dcbc;
      @media #{$small-and-down} {
        font-size: 9px;
      }
    }
    @media #{$small-and-down} {
      display: block;
      width: 100%;
      &::after {
        display: none!important;
      }
    }
  }
  .comments {
    .comment {
      display: inline-block;
      vertical-align: middle;
      line-height: 5px;
      font-size: 12px;
      @media #{$medium-and-down} {
        font-size: 12px;
      }
      br {
        @media #{$small-and-down} {
          display: none;
        }
      }
      i {
        font-size: 20px;
        line-height: 3px;
        vertical-align: middle;
        @media #{$small-and-down} {
          line-height: normal;
          display: inline-block;
          font-size: 15px;
        }
      }
      @media #{$small-and-down} {
        line-height: normal;
        display: inline-block;
      }
    }
    @media #{$small-and-down} {
      display: block;
    }
  }
  .shares {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    @media #{$medium-and-down} {
      font-size: 17px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 10px;
    }
    .share {
      display: inline-block;
      vertical-align: middle;
      line-height: 5px;
      font-size: 12px;
      br {
        @media #{$small-and-down} {
          display: none;
        }
      }
      i {
        font-size: 20px;
        line-height: 3px;
        vertical-align: middle;
        @media #{$small-and-down} {
          font-size: 15px;
          line-height: normal;
          display: inline-block;
        }
      }
      @media #{$small-and-down} {
        line-height: normal;
        display: inline-block;
      }
    }
    @media #{$small-and-down} {

    }
  }
  .Download-case-study {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    .case-studies {
      a {
        color: #585858;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -1px;
        @media #{$medium-and-down} {
          font-size: 12px;
        }
      }
    }
  }
  .Download-case-study.custom-download-case-study {
    display: inline-flex;
  }
  .talk-to-an-expert {
    display: inline-flex;
    .getin-touch-btn {
      background-image: linear-gradient(134.72deg, #3023ae 0%, #c86dd7 100%);
      border-radius: 2px;
      display: inline-block;
      border-radius: 3px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      text-align: center;
      padding: 8px 12px;
    }
    .getin-touch-btn:hover {
      opacity: 0.8;
    }
  }
  &>div:not(:last-child) {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    &::after {
      content: "";
      padding-left: 7px;
      padding-right: 7px;
      /* font-size: 33px; */
      background: #988c8c;
      font-weight: 100;
      width: 1px;
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      margin-left: 8px;
      margin-right: 8px;
      @media #{$small-and-down} {

      }
    }
  }
  &>div:not(:first-child) {
    >div {
      @media #{$small-and-down} {

      }
    }
  }
  >div {
    @media #{$small-and-down} {

    }
  }
}
