body:not(.path-frontpage) {
  .region--content {
    /*padding: 0 0.75rem;*/
    padding-right: 30px;
    padding-left: 30px;

    @media (max-width: 992px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .region--breadcrumb {
    #block-zyxpro-light-page-title {
      padding-left: 30px;

      @media (max-width: 992px) {
        padding-left: 15px;
      }

      h1 {
        font-size: 38px;
        color: #000;
        font-weight: 600;
      }
    }
  }
  &.page-node-type-story {
    .region--content {
      @media (max-width: 992px) {
        padding: 0;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

#toolbar-administration {
  nav {
    line-height: normal;
    height: auto;

    .toolbar-lining {
      background-color: #fff;
    }
  }
}

.zyx-container {
  padding-left: 68px;
  padding-right: 68px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;

  @media #{$medium-and-down} {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media #{$small-and-down} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.trim_zyx_content {
  overflow: hidden;
}

.zyx-description-block {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f5f7f6;
  font-weight: 700;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 52px;

  p {
    text-align: center;
  }

  @media #{$medium-and-down} {
    font-size: 16px;
    margin-bottom: 62px;
    margin-top: 50px;
  }

  @media #{$small-and-down} {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
}

.block--type-vocabulary-tabs {
  .field--field-vocabulary-tabs {
    >div {
      display: inline-block;
      padding: 6px;
      border-radius: 20px;
    }
  }
}

.block--id-local-tasks-block {
  ul {
    li {
      display: inline-block;
      vertical-align: middle;

      a {
        @extend span.badge;
        @extend .blue;
        color: $white;

        &:hover {
          opacity: 0.88;
        }
      }
    }
  }
}

.marble--items-content {
  margin-top: -15px;
  position: relative;
  top: 5px;
}

.btn.btn-contact-quote {
  font-size: 13px;
  font-weight: 600;
  background: linear-gradient(80deg, #dd5a6c 20%, #5c2ac9 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 3px;
  border-radius: 1px;
  text-transform: none;
  height: auto;
}

.page-node-type-article,
.page-node-type-case-studies,
.page-node-type-story {
  .block--id-page-title-block {
    width: 61%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;

    h1 {
      font-size: 43px;
      font-weight: 600;

      @media #{$medium-and-down} {
        font-size: 30px;
      }
    }

    @media #{$medium-and-down} {
      width: 95%;
      margin: 0 auto;
      padding-left: 10.5px;
      padding-right: 10.5px;
    }
  }
}

.taxonomy-name {
  font-size: 28px;
  color: black;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 20px;

  @media #{$medium-and-down} {
    font-size: 24px;
  }

  @media #{$small-and-down} {
    font-size: 20px;
  }
}

.taxonomy-view-page {
  width: 83%;
}

.node_title_rendered {
  padding-top: 4%;
  font-size: 38px;
  color: black;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  width: 80%;

  @media #{$medium-and-down} {
    font-size: 28px;
    padding-left: 10.5px;
    padding-right: 10.5px;
    width: 80%;
  }

  @media #{$small-and-down} {
    font-size: 22px;
    text-align: center;
    padding: 0;
    width: 95%;
    margin: auto;
  }
}

a.left.slide-control.slick-arrow {
  position: absolute;
  top: 33%;
  left: 2%;
  height: 10%;
  z-index: 1;
}

a.left.slide-control.slick-arrow img {
  height: 100%;
  width: auto;
}

a.right.slide-control.slick-arrow {
  position: absolute;
  top: 33%;
  right: 2%;
  height: 10%;
  z-index: 1;
}

a.right.slide-control.slick-arrow img {
  height: 100%;
  width: auto;
}

.hide-on-large-only-modified {
  @media (min-width: 1025px) {
    display: none !important;
  }
}

.search-404-error {
  width: 70%;
  margin: 0 auto;

  .error-warning {
    font-size: 38px;
    color: black;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

    @media #{$medium-and-down} {
      font-size: 20px;
    }

    @media #{$small-and-down} {
      font-size: 9px;
    }
  }

  .error-caption {
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

    @media #{$medium-and-down} {
      font-size: 10px;
    }

    @media #{$small-and-down} {
      font-size: 5px;
    }
  }
}

.region--sidebar-second {
  padding: 15px;
}

body.articles {
  nav.pager {
    background-color: #fff;
    box-shadow: none;
    clear: both;

    @media #{$medium-and-up} {
      line-height: 35px;
      height: 35px;
    }
    ul {
      text-align: center;
      float: left;
      width: 100%;
      li {
        float: none;
        display: inline-block;
        &.is-active {
          background: #462eb4;
          a {
            color: #fff;
          }
        }
        &:hover {
          background: #462eb4;
          a {
            color: #fff;
          }
        }
        a {
          color: #000;
        }
      }
    }
  }

  .views-element-container {
    margin-left: auto;
    margin-right: auto;

    h2 {
      padding-left: 20px;
    }

    a.feed-icon {
      display: none;
    }
  }
}

.eu-cookie-compliance-banner {
  margin: 12px;

  .popup-content {
    font-weight: 500;

    button,
    .eu-cookie-compliance-more-button {
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border-color: rgb(255, 255, 255);
      border-radius: 0px;
      box-shadow: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      font-size: small;
      font-weight: 400;
      text-shadow: none;
      width: 132px;
    }

    button {
      margin-top: 10px;
    }
  }
}

.content-full {
  .region--highlighted {
    div[aria-label="Status message"] {
      background: no-repeat 10px 17px;
      border: 1px solid;
      border-width: 1px 1px 1px 0;
      border-radius: 2px;
      padding: 15px 20px 15px 35px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      background-color: #bdfcb7;
      color: #4BB543;
      border-color: #bdfcb7 #bdfcb7 #bdfcb7 transparent;
      box-shadow: -8px 0 0 #4BB543;
      margin: 0 30px;
    }
  }
}
