body,
html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.path-frontpage {
  .block {
    >h2 {
      text-transform: uppercase;
      font-size: x-large;
      font-weight: 700;
      margin-bottom: 60px;
      margin-top: 60px; // position: relative;
      // overflow: hidden;
      text-align: center;
      line-height: 30px;
      color: #000000;

      &::before {
        content: "";
        display: inline-block;
        background-color: #000000;
        opacity: 0.23828125;
        width: 19.7%;
        height: 3px;
        vertical-align: middle;
        margin-right: 13px;

        @media #{$small-and-down} {
          content: none;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        background-color: #000000;
        opacity: 0.23828125;
        width: 19.7%;
        height: 3px;
        vertical-align: middle;
        margin-left: 13px;

        @media #{$small-and-down} {
          content: none;
        }
      }

      // }
      @media #{$medium-and-down} {
        margin-bottom: 25px;
        margin-top: 25px;
      }
    }
    &#block-hrpolicyarticle {
      h2 {
        margin-bottom: 5px;
      }
    }
  }
}

.page-node-5790 {

  /*.block--type-anchor-items,*/
  .block--type-portfolio,
  .block--type-testimonial-block {
    h2 {
      @media #{$medium-and-up} {
        &::before {
          content: "";
          display: inline-block;
          background-color: #000000;
          opacity: 0.23828125;
          width: 19.7%;
          height: 3px;
          vertical-align: middle;
          margin-right: 13px;
        }

        &::after {
          content: "";
          display: inline-block;
          background-color: #000000;
          opacity: 0.23828125;
          width: 19.7%;
          height: 3px;
          vertical-align: middle;
          margin-left: 13px;
        }
      }
    }
  }
}

.block {
  >h2 {
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #6a7a94;
    line-height: 135%;
    text-transform: uppercase;

    @media #{$medium-and-down} {
      margin-bottom: 25px;
      margin-top: 25px;
    }
  }
}

.page-node-5795 {
  .block--type-anchor-items {
    >h2 {
      margin-bottom: 10px;
    }
  }
}

.page-node-5801 {
  #zyx-banner {
    min-height: 300px;
    height: 300px !important;

    .banner-image {
      .banner-details {
        .banner-caption {
          font-size: 50px;
          font-weight: 700;
          line-height: 60px;
        }
      }
    }
  }
}

.page-node-5798 {
  #zyx-banner {
    height: calc(100vh - 75px) !important;
    min-height: 556px;
  }
}

#zyx-banner {
  max-height: calc(100vh - 75px);
}


.block--view-insights-category-view,
.vocabulary-tabs,
.block--view-industry,
.block--view-work {
  &#block-views-block-industry-block-2 h2 {
    margin-top: 60px;
  }

  >h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: black;
    margin-top: 0px;

    @media #{$medium-and-down} {
      font-size: 24px;
    }

    @media #{$small-and-down} {
      font-size: 20px;
    }
  }

  .vocabulary-tabs {
    margin-top: 0;
  }
}

.page-node-5799,
.page-node-5802,
.page-node-5803,
.page-node-5804,
.page-node-5808,
.page-node-5807 {
  .vocabulary-tabs {
    margin-top: 60px;
  }

  .horizontal_ruler {
    width: 91%;
  }

  .content-blocks-custom {
    margin-bottom: 40px;
  }

  .more-link {
    height: 10px;
  }
}

.contact_redirect {
  font-weight: 700;
  color: white;
}

.contact_redirect:hover {
  text-decoration: underline;
}

.row {
  margin-bottom: 0;
}

.horizontal_ruler {
  width: 85%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.content-full {
  //display: block;
  //display: flex;
  @extend .row;
}

body {
  &.about {
    .content-full {
      display: block;
    }
  }
}

.block-hrpolicyarticle {
  h2 {
    margin-bottom: 0;
  }
}

/*.path-frontpage {
  .block--type-insights {
    >h2 {
      margin-top: 20px;
    }
  }
  .block-blockinsights {
    margin-bottom: 0px;
  }
  .block--type-testimonial-block {
    >h2 {
      margin-top: 15px;
      margin-bottom: 34px;
    }
  }
  .block--type-partners {
    @media #{$medium-and-up} {
      margin-bottom: 5px;
    }
  }
  .block--type-learn-more {
    >h2 {
      margin-top: 0px;
      margin-bottom: 36px;
    }
  }
  .block--type-learn-more {
    margin-top: 9px;
  }
}*/

.yellowbg {
  background: #fd5100;
  padding: 15px;
  text-align: center;
  h3 {
    display: inline-block;
    margin: 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 25px;
  }
  a {
    &.theyellowbutton {
    display: inline-block;
    padding: 5px 60px;
    background: #fff;
    color: #f30000;
    cursor: pointer;
    &:hover{
      box-shadow: 1px 1px 6px 2px #b92c02;
      }
    }
  }
}

.bluebg {
  background: #3d29b1;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  h3 {
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-weight: bold;
    color: #fff;
  }
  a {
    &.thebluebutton {
      display: inline-block;
      padding: 5px 60px;
      background: #fff;
      color: #3d29b1;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        box-shadow: 1px 1px 6px 2px #1f1075;
      }
    }
  }
}

.infoimgs {
  max-width: 100%;
  width: 100%;
  margin-top: 80px;
}

.blueline {
  height: 5px;
  width: 100%;
  background: #3d29b1;
  margin: 20px 0;
  font-size: 1px;
  color: #3d29b1;
}

.lightblueline {
  height: 5px;
  width: 100%;
  background: #06ccef;
  margin: 0 0 20px 0;
  font-size: 1px;
  color: #06ccef;
}
#block-whatweofferindustries {
  margin-bottom: 20px;
}
#block-bannerimageindustrypage{
  background :#468cf0;
  margin-top: 20px;
}
#block-platformsolutions {
  background :#468cf0;
  padding-bottom: 60px;
  margin-top: 20px;
  h2 {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
  }
}

body {
  &.search {
    .each-search-result {
      margin-bottom: 50px;
      .views-field-title {
        a {
          font-size: 28px;
          color: #000;
          font-weight: 600;
        }
      }
      .views-field-body {
        h1, h2, h3, h4, h5, h6 {
          margin: 0;
          margin-top: 5px;
          color: #6D34A7;
          font-size: 20px;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

#block-qualityassurancetools {
  .partners {
    > div {
      img {
        padding-bottom: 0;
      }
    }
    .field {
      &.field--field-image {
        min-height: 80px;
      }
    }
  }
  @media #{$medium-and-down} {
    display: none;
  }
}

#block-qualityassurancetoolsmobileview{
  display: none;
  img {
    width: 100%;
  }
  @media #{$medium-and-down} {
    display: block;
  }
}

.page-node-type-article {
  .content-full {
    ul {
      padding-left: 40px;
      list-style-type: disc;

      > li {
        list-style-type: disc;
      }
    }
  }
}

.thank-you {
  #block-zyxpro-light-page-title h1,
  .content-full {
    display: none;
  }

  .main-container {
    margin-bottom: -15px;
  }
}

nav.pager {
  ul > li > a {
    padding: 0 15px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

.path-user {
  #block-zyxpro-light-zyxware-drift-system-main > article {
    > .form-item {
      margin-bottom: 10px;

      > .label {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        padding-right: 4px;
      }
    }
    

    .col-left,
    .col-right {
      display: inline-block;
      vertical-align: top;
    }

    .col-left {
      width: 20%;
      @media(max-width: 992px) {
        width: 30%;
      }
      @media(max-width: 768px) {
        width: 100%;
      }

      > div {
        text-align: center;
      }

      .field--user-picture {
        img {
          border-radius: 50%;
          border: 3px solid #993399;
          max-width: 165px;
          max-height: 165px;
          width: 14vw;
          height: 14vw;
          @media(max-width: 992px) {
            width: 18vw;
            height: 18vw;
          }
          @media(max-width: 768px) {
            width: 25vw;
            height: 25vw;
          }
        }
      }

      .field--field-designation {
        margin-top: 15px;
        margin-bottom: 5px;
        font-weight: 600;

        > div:first-of-type {
          display: none;
        }
      }

      .field--field-company-name {
        font-weight: 500;
        font-size: 12px;
      }
    }

    .col-right {
      width: 79%;
      @media(max-width: 992px) {
        width: 69%;
      }
      @media(max-width: 768px) {
        width: 100%;
      }

      .field--field-user-description {
        margin-left: 20px;
        margin-top: 6%;
        @media(max-width: 768px) {
          margin-left: 0;
          margin-top: 20px;
        }

        > div:first-of-type {
          display: none;
        }
      }
    }
  }
}

.we-mega-menu-li.open > span {
  &:after {
    @include transform(rotate(180deg));
  }
}