.zyx-pro-second-slider {
  .carousel-indicators {
    li {
      background-color: $dusty-grey;
      border: 1px solid $dusty-grey;
      width: 10px;
      height: 10px;
      margin: 3.5px;
      &.active {
        background-color: $white;
      }
    }
  }
}
