.carrer-details-wrapper {
  padding: 70px;

  @media #{$medium-and-down} {
    padding: 35px;
  }

  @media #{$small-and-down} {
    padding: 25px;
  }

  .career-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;

    @media #{$medium-and-down} {
      font-size: 16px;
    }

    @media #{$small-and-down} {
      font-size: 13px;
    }

    .view-all-jobs {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: -1px;

      @media #{$medium-and-down} {
        font-size: 12px;
      }

      @media #{$small-and-down} {
        font-size: 8px;
      }
    }
  }

  .field--body {
    font-weight: 400;
    font-size: 15px;

    @media #{$medium-and-down} {
      font-size: 12px;
    }

    @media #{$small-and-down} {
      font-size: 10px;
    }
  }

  .field--field-location {
    a {
      font-size: 24px;
      color: $black;
      font-weight: 700;

      @media #{$medium-and-down} {
        font-size: 17px;
      }

      @media #{$small-and-down} {
        font-size: 14px;
      }
    }
  }
  .webform-section {
    display: none;
  }
}

.row.webform-section {
  margin-top: 80px;
  margin-bottom: 30px;

  @media #{$medium-and-down} {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  @media #{$small-and-down} {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .apply-for-this-job {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: -1px;

    @media #{$medium-and-down} {
      font-size: 25px;
      margin-bottom: 10px;
    }

    @media #{$small-and-down} {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .linkedin-link {
    vertical-align: middle;
    display: inline-block;

    img {
      width: 215px;
      height: auto;

      @media #{$medium-and-down} {
        width: 175px;
      }

      @media #{$small-and-down} {
        width: 125px;
      }
    }
  }

  .optional-label {
    vertical-align: middle;
    padding-left: 20px;
    font-size: 15px;

    @media #{$medium-and-down} {
      padding-left: 10px;
    }

    @media #{$small-and-down} {
      padding-left: 5px;
      font-size: 12px;
    }
  }

  .required-label {
    @media #{$small-and-down} {
      text-align: center;
    }
  }
}
