#zyx-portfolio {
  .carousel-item {
    min-height: auto;
  }
  .carousel-inner {
    height: 100%;
  }
  .portfolio-slide-control {
    display: none;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      display: block;
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 35%;
      color: white;
      outline: none;
      cursor: pointer;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      display: block;
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 35%;
      color: white;
      outline: none;
      cursor: pointer;
    }
    &.left {
      left: 0;
      @media #{$medium-and-down} {
        left: 25px;
        img {
          width: 18px;
          height: 35px;
        }
      }
      @media #{$small-and-down} {
        left: 10px;
      }
    }
    &.right {
      right: 0;
      @media #{$medium-and-down} {
        right: 25px;
        img {
          width: 18px;
          height: 35px;
        }
      }
      @media #{$small-and-down} {
        right: 10px;
      }
    }
  }
  .indicators {
    bottom: -30px !important;
    display: block;
    .indicator-item {
      background-color: rgb(202, 198, 198) !important;
      height: 12px !important;
      width: 12px !important;
    }
    .active {
      background-color: #797474 !important;
    }
    @media #{$medium-and-down} {
      // styles for medium screens and down
      display: none;
      bottom: 0px;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      display: none;
      bottom: 0px;
    }
  }
}
