/// Mixin - Font-Size.
/// Adds px value for fallback - then rem value
/// use example =   @include font-size(1.6); = 1.6rem / 16px
@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
}

// Tansition
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// Tansition
@mixin transform($property) {
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

// Box Shadow
@mixin boxShadow($shadow, $color) {
  -webkit-box-shadow: $shadow $color;
  -moz-box-shadow: $shadow $color;
  box-shadow: $shadow $color;
}

@mixin keyFrameBuild($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }

  @-moz-keyframes #{$animation} {
    @content;
  }

  @keyframes #{$animation} {
    @content;
  }
}

@mixin keyFrameAnimate($name, $duration, $timing, $delay, $iteration, $direction) {
  -webkit-animation: $name $duration $timing $delay $iteration $direction;
  -moz-animation: $name $duration $timing $delay $iteration $direction;
  -ms-animation: $name $duration $timing $delay $iteration $direction;
  animation: $name $duration $timing $delay $iteration $direction;
}

@mixin rotate($deg: 90) {
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
}

@mixin scale($scale: 1) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin placeholder($color: #999) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &::-ms-input-placeholder {
    color: $color;
  }

  &::placeholder {
    color: $color;
  }
}

@mixin text-limit($lines: 1, $line-height: 18) {
  line-height: #{$line-height}px;
  height: #{$lines * $line-height}px;
  overflow: hidden;
}

@mixin paint-layout($page-class, $gradient, $include) {
  .#{$page-class} {
    @each $item in $include {
      .#{$item} {
        background: $gradient !important;
      }
    }
  }
}

@mixin translate($x:0, $y:0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html 
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
@mixin filter($filter-type, $filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}
