.grid-item {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: center center;
  @include medium {
    height: 150px;
  }
  @include small-large {
    height: 130px;
  }
  img {
    @extend .img-responsive;
  }
  .field-link-overlay {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: $grid-overlay;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 23px;
    font-family: 'Exo', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px inset;
    @include transition(background-color, ease, 0.5s);
    @include medium {
      font-size: 22px;
      line-height: normal;
    }
    @include small-large {
      font-size: 14px;
      line-height: normal;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    &:hover {
      background-color: $grid-overlay-hover;
    }
  }
}
