.block--type-our-partners-block {
  background-color: $porcelain;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @include medium {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .field--field-tiltle {
    @include blockTitle;
    margin-bottom: 35px;
    @include medium {
      margin-bottom: 25px;
    }
    p {
      margin: 0;
    }
  }
  .container--partner {
    padding-left: 45px;
    padding-right: 45px;
    &.display-all-content {
      .field--field-partners {
        >div {
          &:nth-child(1n + 5) {
            @include medium {
              @include transform(scale(1));
              max-height: 100%;
              max-width: 100%;
              padding: 2px;
            }
          }
        }
      }
    }
    @include medium {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include small-large {
      padding-left: 55px;
      padding-right: 55px;
    }
    .field--field-partners {
      @include transition(height, ease, 0.5s);
      >div {
        @extend .col-md-2;
        @extend .col-sm-3;
        @extend .col-xs-6;
        padding: 2px;
        >div {
          background-color: $white;
          border: 1px solid $silver-sand;
          padding-top: 25px;
          padding-bottom: 25px;
        }
        img {
          @extend .img-responsive;
          max-width: 88px;
          display: inline-block;
          @include medium {
            max-width: 68px;
          }
          @include small-large {
            max-width: 58px;
          }
        }
        @include medium {
          &:nth-child(1n + 5) {
            @include transform(scale(0));
            max-height: 0;
            max-width: 0;
            overflow: hidden;
            padding: 0px;
            @include transition((max-height, transform), ease, 0.5s);
          }
        }
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .progressive-loader {
      display: none;
      @include medium {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
