.region--footer {
  background: linear-gradient(0deg, #2E3654 25%, #2E3654 13.87%, #F06493 250%);
  margin-bottom: 0;
  @extend .row;
  padding-bottom: 50px;
  margin-top: 15px;

  @media #{$medium-and-down} {
    padding-top: 0px;
    padding-bottom: 15px;
  }

  @media #{$small-and-down} {
    padding-bottom: 2px;
  }

  .list-inline.social-media {
    margin-bottom: 15px;

    @media #{$medium-and-down} {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .block--label-our-locations,
  .block--id-system-branding-block,
  .block--type-footer-copyright-section {
    @extend .col,
    .l4,
    .m6;

    @media #{$small-and-down} {
      width: 100%;
    }

    padding-left: 25px;
    padding-right: 25px;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .block--id-system-branding-block {
    text-align: center;

    img {
      max-width: 200px;
      height: auto;
    }

    &::after {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
    }
  }

  .block--type-footer-copyright-section {
    position: relative;
    white-space: nowrap;
    text-align: right;

    @media #{$small-and-down} {
      text-align: center;
    }

    .social-media {
      li {
        display: inline-block;

        a {
          font-size: 30px;
          color: #F4F4F4;
          width: 45px;
          text-align: center;
          height: 35px;
        }
      }
    }

    * {
      white-space: normal;
      padding: 0;
      margin: 0;
      color: $white;

      @media #{$medium-and-down} {
        text-align: right;
      }

      @media #{$small-and-down} {
        text-align: center;
      }
    }

    .field--body {
      color: #F4F4F4;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.03px;
      line-height: 18px;
      font-family: Montserrat;


      @media #{$medium-and-up} {
        font-size: x-small;
        font-weight: 600;
        letter-spacing: 0.02px;
        line-height: 11px;
        margin-bottom: 10px;
      }

      @media #{$medium-and-down} {
        font-size: xx-small;
        font-weight: 600;
        letter-spacing: 0.02px;
        line-height: 11px;
        margin-bottom: 10px;
      }

      @media #{$small-and-down} {
        font-size: xx-small;
        font-weight: 600;
        letter-spacing: 0.02px;
        line-height: 11px;
        margin-bottom: 10px;
      }
    }

    .field--field-menu {
      position: absolute;
      right: 25px;
      top: 10px;

      @media #{$medium-and-down} {
        position: static;
        right: 25px;
        top: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      @media #{$medium-and-down} {
        margin-top: 10px;
        margin-bottom: 0px;
      }

      li {
        display: inline-block;
        font-weight: bold;
        color: #F4F4F4;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 800;
        letter-spacing: 0.03px;
        line-height: 18px;
        margin: .5em 0;
        padding-right: 40px;
        text-transform: uppercase;

        @media #{$medium-and-down} {
          font-size: 9px;
          font-weight: 600;
          letter-spacing: 0.02px;
          line-height: 11px;
          padding: 0px;
        }

        a {
          color: inherit;
        }

        &:not(:last-of-type) {
          &:after {
            content: "|";
            margin-left: 4px;
            margin-right: 4px;
            font-size: 18px;

            @media #{$small-and-down} {
              font-size: 9px;
            }
          }
        }
      }
    }

    .footer-bottom {
      display: inline-block;
      vertical-align: bottom;
    }

    &::after {
      content: '';
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
    }
  }

  nav {
    background-color: transparent;
    box-shadow: none;

    ul {
      line-height: normal;

      li {
        line-height: normal;
      }
    }
  }
}
