{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{#

'field_watermark_color'
'field_text_color'
'field_color_to'
'field_color'
'field_image_overlay_opacity'
#}
{% set wm_opacity = content.field_image_overlay_opacity|field_value ? content.field_image_overlay_opacity|field_value : 0.5 %}
{% set wm_color = content.field_watermark_color|field_value ? content.field_watermark_color|field_value : '#fff' %}

{% set color_from = content.field_color|field_value[0]['#context']['value']|default('#ffffff') %}
{% set color_to = content.field_color_to|field_value[0]['#context']['value']|default('#ffffff') %}
{% set card_bg = 'linear-gradient(0deg, ' ~ color_from ~ ' -120%, '~ color_to  ~' 100%)' %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }} style="background: {{ card_bg }};color: {{ content.field_text_color|field_value[0]['#context']['value']|default('#ffffff') }}">
    {% block content %}
      <div class="watermark-wrap" style="opacity: {{wm_opacity}};color: {{ wm_color }};" >{{ content.field_sub_title|field_value }}</div>
      {{ content|without('field_image_overlay_opacity', 'field_watermark_color', 'field_text_color', 'field_color_to', 'field_color', 'field_image_overlay_opacity', 'field_sub_title') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
