.path-contact.contact-us {
  .region--content {
    padding: 5px 30px;
    display : flex;

    @media (max-width: 992px) {
      padding: 5px 15px;
      display: block;
    }
  }

  [id^="block-zyxpro-light-zyxware-drift-system-main"] {
    width: 75%;
    float: left;

    @media (max-width: 992px) {
      width: 100%;
      float: initial;
    }

    h2 {
      margin-bottom: 0px;
    }

    form {
      padding: 15px 30px;
      @include flexbox();
      flex-wrap: wrap;

      @media (max-width: 992px) {
        padding: 15px;
      }

      >div {
        margin-top: 60px;
        width: 100%;

        @media (max-width: 640px) {
          margin-top: 30px;
        }

        @media(min-width: 768px) {
          &.form-item-name,
          &.form-item-mail {
            width: 50%;

            input {
              width: 98%;
            }
          }

          &.form-item-mail {
            text-align: right;
          }
        }
      }

      input,
      textarea {
        @include placeholder(rgba(#333, 0.8));
      }

      .field--name-field-checkbox {
        legend {
          color: #000;
          font-size: 18px;
        }

        .form-checkboxes>div {
          margin-top: 30px;
        }

        label {
          font-size: 16px;
          color: #000;
        }

        input {
          position: relative;
          opacity: 1;
          margin-right: 15px;
          pointer-events: initial;
        }
      }

      textarea {
        height: auto;
        max-width: 100%;
        padding: 10px;
      }

      .fieldgroup {
        border-width: 0;
        padding: 0;
      }

      .captcha {
        padding-top: 10px;
      }

      #edit-submit {
        background-image: linear-gradient(134.72deg, #3023ae 0%, #c86dd7 100%);
        border-radius: 2px;
        display: inline-block;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        height: 42px;
        line-height: 42px;
        max-width: 120px;
        text-align: center;
      }
    }
  }

  [id^="block-zyxpro-light-zyxware-drift-system-main"]+div {
    width: 25%;
    float: left;
    padding: 15px 30px;

    @media (max-width: 992px) {
      width: 100%;
      float: initial;
      padding: 15px;
    }
  }
}
