{#
  /**
   * @file
   * Theme override to display a block.
   *
   * Available variables:
   * - plugin_id: The ID of the block implementation.
   * - label: The configured label of the block if visible.
   * - configuration: A list of the block's configuration values.
   *   - label: The configured label for the block.
   *   - label_display: The display settings for the label.
   *   - provider: The module or other provider that provided this block plugin.
   *   - Block plugin specific settings will also be stored here.
   * - content: The content of this block.
   * - attributes: array of HTML attributes populated by modules, intended to
   *   be added to the main container tag of this template.
   *   - id: A valid HTML ID and guaranteed unique.
   * - title_attributes: Same as attributes, except applied to the main title
   *   tag that appears in the template.
   * - title_prefix: Additional output populated by modules, intended to be
   *   displayed in front of the main title tag that appears in the template.
   * - title_suffix: Additional output populated by modules, intended to be
   *   displayed after the main title tag that appears in the template.
   *
   * @see template_preprocess_block()
   */
  #}
  {% set label_class %}
    {{ label }}
  {%  endset %}
  {% set classes = [
    'block',
    label_class ? 'block--label-' ~ label_class|trim|clean_class,
    plugin_id ? 'block--id-' ~ plugin_id|clean_class,
    block_type_name ? 'block--type-' ~ block_type_name|clean_class,
    block_view_name ? 'block--view-' ~ block_view_name|clean_class,
  ] %}
  {% if extra_classes %}
    {% set classes = classes|merge(extra_classes) %}
  {% endif %}
  {% if class %}
    {% set classes = classes|merge(class) %}
  {% endif %}
  {% if clear_before %}
  <div class="clearfix"></div>
  {% endif %}
  <div{{ attributes.addClass(classes) }}>
    {% if clear_before_inside %}
    <div class="clearfix"></div>
    {% endif %}
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
        {% set current_url = url("<current>")['#markup'] %}
        {%if current_url|split('/')|last == 'contact-us' %}
          <h2>Contact</h2>
        {% endif %}
        {{ content }}
      {% endblock %}
    {% if clear_after_inside %}
    <div class="clearfix"></div>
    {% endif %}
  </div>
  {% if clear_after %}
  <div class="clearfix"></div>
  {% endif %}