.paragraph--type--slider-item {
  position: relative;
  max-width: 100%;
  height: 100%;

  .banner-image {
    position: relative;
    max-width: 100%;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);

    @media #{$medium-and-down} {
      // styles for medium screens and down
      min-height: 300px;
      background-position: left;
    }

    @media #{$small-and-down} {
      // styles for medium screens and down
      min-height: 200px;
    }

    .banner-image-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      left: 0;
      top: 0;
    }

    .banner-details {
      margin-left: 68px;
      color: white;
      width: 52%;
      z-index: 1;
      position: relative;
      padding-top: 60px;

      @media #{$medium-and-down} {
        padding-top: 0px;
        text-align: center;
        margin-left: 0px;
        width: 85%;
        margin: 0 auto;
      }

      @media #{$small-and-down} {
        width: 80%;
      }

      .banner-caption {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;

        @media #{$small-and-down} {
          font-size: 15px;
          line-height: 13px;
        }
      }

      .banner-subtitle, .banner-subtitle h1 {
        font-size: xx-large;
        font-weight: 700;
        line-height: 125%;

        @media #{$large-and-up} {
          font-size: xx-large;
          line-height: 125%;
          margin-top: 3px;
        }

        @media #{$medium-and-down} {
          font-size: xx-large;
          line-height: 125%;
          margin-top: 3px;
        }

        @media #{$small-and-down} {
          font-weight: 600;
          font-size: 120%;
          margin-top: 5px;
          line-height: 125%;
        }
      }

      .banner-description {
        font-size: large;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 20px;
        padding-top: 7px;

        p {
          margin: 0;
          font-size: inherit;
        }
        @media #{$large-and-up} {
          padding-top: 0px;

          p {
            font-size: large;
            margin-top: 6px;
            line-height: 150%;
            margin-bottom: 20px;
          }
        }
        @media #{$medium-and-down} {
          padding-top: 0px;

          p {
            font-size: large;
            margin-top: 6px;
            line-height: 150%;
            margin-bottom: 20px;
          }
        }

        @media #{$small-and-down} {
          padding-top: 0px;
          font-size: 90%;
          line-height: 150%;
          margin-top: 6px;

          p {
            font-size: 110%;
            margin-top: 0px;
            line-height: 170%;
            margin-bottom: 15px;
          }
        }
      }

      .banner-link {
        a {
          display: inline-block;
          background-color: #fafafa;
          color: $black;
          padding-left: 25px;
          padding-right: 25px;
          height: 45px;
          line-height: 45px;
          border-radius: 2px;
          font-size: large;
          font-weight: 600;

          @media #{$small-and-down} {
            // styles for medium screens and down
            min-width: 87px;
            height: 30px;
            line-height: 30px;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 150%;
          }
        }

        font-size: 15px;
        font-weight: bold;

        @media #{$medium-and-down} {
          // styles for medium screens and down
          font-size: 10px;
        }

        @media #{$small-and-down} {
          // styles for medium screens and down
          font-size: 9px;
        }
      }
    }
  }
}
