{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set image = content.field_image.0['#markup'] %}
{% set color = content.field_color|field_value[0]['#context']['value'] %}
{% set color_to = content.field_color_to|field_value[0]['#context']['value'] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if image %}
        <div class="banner-image" style="background-image:url({{ image }});">
      {% else %}
        <div class="banner-image" style="background:linear-gradient(180deg, {{ color }} 40%, {{ color_to }} 100%);">
      {% endif %}
        {% if content.field_image_overlay_color|field_value %}
          <div class="banner-image-overlay" style="background-color: {{ content.field_image_overlay_color|field_value }};opacity: {{ content.field_image_overlay_opacity|field_value }};"></div>
        {% endif %}
        <div class="banner-details">
          <div class="banner-caption">
            {{ content.field_caption }}
          </div>
          <div class="banner-subtitle">
            <h1 class="field field--field-sub-title">{{ content.field_sub_title|field_value }}</h1>
          </div>
          <div class="banner-description">
            {{ content.field_description }}
          </div>
          {% if content.field_link|field_value[0]['#url'].toString() %}
            <div class="banner-link">
              <div class="the_image_more">
                <img class="banner_image_link" src="/themes/custom/zyxpro_light/images/icons/arrow-readmore.png" alt="ReadMore">
              </div>
              <div class="the_text_more">
                {{ content.field_link }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
