.group-title {
  h2 {
    float: left;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 28px;
    color: black;
    font-weight: 700;
    line-height: 26px;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      padding-left: 0px;
      float: none;
      text-align: center;
      font-size: 24px;
    }
    @media #{$small-and-down} {
      font-size: 20px;
      line-height: 18px;
    }
  }
}

.haswidth {
  width: 89%;
  margin: 0 auto;
  padding-bottom: 20px;
  .group-title {
    h2 {
      padding-left: 10px;
      padding-bottom: 20px;
      margin-top: 40px;
    }
  }
}
