.paragraph--type--testimonail-item {
  color: $mine-shaft;
  .field--field-name {
    font-size: 28px;
    font-family: "Exo";
    line-height: 18px;
    @include medium {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .field--field-credentials {
    font-size: 15px;
    line-height: 32px;
    font-weight: 300;
    @include medium {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .field--field-quote {
    font-size: 19px;
    line-height: 32px;
    color: $mine-shaft;
    font-style: italic;
    font-weight: 300;
    max-width: 905px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    @include medium {
      font-size: 14px;
      line-height: 24px;
      max-width: 580px;
      padding-top: 25px;
      padding-bottom: 0;
    }
    @include small-large {
      max-width: 255px;
    }
    &::before,
    &::after {
      content: "";
      width: 35px;
      height: 25px;
      display: block;
      background-size: 100% auto;
      position: absolute;
      @include medium {
        width: 25px;
        height: 17px;
      }
      @include small-large {
        width: 20px;
        height: 15px;
      }
    }
    &::before {
      background-image: url(../../images/quotes.svg);
      left: -65px;
      margin-top: 0px;
      @include medium {
        margin-top: 4px;
        left: -25px;
      }
      @include small-large {
        left: -27px;
        margin-top: 4px;
      }
    }
    &::after {
      background-image: url(../../images/quotes.svg);
      right: -65px;
      bottom: 45px;
      background-position: bottom;
      @include medium {
        right: -25px;
        bottom: 2px;
      }
      @include small-large {
        right: -27px;
      }
    }
  }
  .field--field-image {
    img {
      @extend .img-responsive;
      border-radius: 100%;
      margin: auto;
    }
  }
  .field--field-video {
    display: inline-block;
  }
}
