.block--type-banner-tiles {
  background-color: #000000;
  width: 100%;
  height: 100px;
  color: #1aa4c7;
  display: table;
  padding-left: 9%;
  padding-right: 9%;
  @media #{$small-and-down} {
    padding-left: 1%;
    padding-right: 1%;
  }
}
