<div style="position: relative;top: -30px;margin-bottom: -35px;" class="zyx-container">
  <img id="Image-Maps-Com-zyxware-infographics" src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-01.png" border="0" width="1800" height="1098" orgWidth="1800" orgHeight="1098" class="responsive-img" usemap="#zyxware-infographics" alt="infographics" />
  <div class="infographics-float-items-wrapper">
    <div id="infographics-float-item-1" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-001.png" alt="INFOGRAPHICZYXWARE-001.png"></a>
    </div>
    <div id="infographics-float-item-2" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-002.png" alt="INFOGRAPHICZYXWARE-002.png"></a>
     </div>
    <div id="infographics-float-item-3" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-003.png" alt="INFOGRAPHICZYXWARE-003.png"></a>
    </div>
    <div id="infographics-float-item-4" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-004.png" alt="INFOGRAPHICZYXWARE-004.png"></a>
    </div>
    <div id="infographics-float-item-5" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-005.png" alt="INFOGRAPHICZYXWARE-005.png"></a>
    </div>
    <div id="infographics-float-item-6" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-006.png" alt="INFOGRAPHICZYXWARE-006.png"></a>
    </div>
    <div id="infographics-float-item-7" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-007.png" alt="INFOGRAPHICZYXWARE-007.png"></a>
    </div>
    <div id="infographics-float-item-8" class="infographics-float-items">
      <a href="#"><img src="/themes/custom/zyxpro_light/images/INFOGRAPHICZYXWARE-008.png" alt="INFOGRAPHICZYXWARE-008.png"></a>
    </div>
  </div>
</div>