.teaser-descriptive {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @media #{$medium-and-down} {
    height: 300px;
  }
  @media #{$small-and-down} {
    height: 150px;
  }
  &--wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    @media #{$medium-and-down} {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 60px;
      padding-right: 60px;
    }
    @media #{$small-and-down} {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &--title {
      font-size: 35px;
      font-weight: bold;
      color: white;
      @media #{$medium-and-down} {
        font-size: 20px;
      }
      @media #{$small-and-down} {
        font-size: 12px;
      }
    }
    .before {
      &::before {
        content: "";
        display: inline-block;
        background-color: white;
        opacity: 0.5;
        width: 50%;
        height: 2px;
        vertical-align: middle;
        margin-right: 13px;
        @media #{$small-and-down} {
          display: none;
        }
      }
    }
    .after {
      &::after {
        content: "";
        display: inline-block;
        background-color: white;
        opacity: 0.5;
        width: 50%;
        height: 2px;
        vertical-align: middle;
        margin-left: 13px;
        @media #{$small-and-down} {
          display: none;
        }
      }
    }
    .both {
      &::after {
        content: "";
        display: inline-block;
        background-color: white;
        opacity: 0.5;
        width: 25%;
        height: 2px;
        vertical-align: middle;
        margin-left: 13px;
        @media #{$small-and-down} {
          display: none;
        }
      }
      &::before {
        content: "";
        display: inline-block;
        background-color: white;
        opacity: 0.5;
        width: 25%;
        height: 2px;
        vertical-align: middle;
        margin-right: 13px;
        @media #{$small-and-down} {
          display: none;
        }
      }
    }
    &--body {
      font-size: 20px;
      font-weight: 600;
      color: white;
      @media #{$medium-and-down} {
        font-size: 14px;
      }
      @media #{$small-and-down} {
        font-size: 80%;
      }
    }
    .center {
      width: 70%;
      margin: 0 auto;
    }
    .width-left {
      width: 70%;
    }
    .width-right {
      width: 70%;
    }
  }
}
