{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set image = content.field_image.0['#markup'] %}

{% if content.field_enable_line.0['#markup'] == "On" %}
  {% if content.field_line_positon.0['#markup'] == "left" %}
    {% set lineposition = 'before' %}
  {% elseif content.field_line_positon.0['#markup'] == "right" %}
    {% set lineposition = 'after' %}
  {% elseif content.field_line_positon.0['#markup'] == "both" %}
    {% set lineposition = 'both' %}
  {% else %}
    {% set lineposition = 'none' %}
  {% endif %}
{% endif %}

{% if content.field_title_position.0['#markup'] == "left" %}
  {% set title_class = 'left-align' %}
{% elseif content.field_title_position.0['#markup'] == 'right' %}
  {% set title_class = 'right-align' %}
{% elseif content.field_title_position.0['#markup'] == 'center' %}
  {% set title_class = 'center-align' %}
{% else %}
  {% set title_class = 'none' %}
{% endif %}

{% if content.field_description_position.0['#markup'] == "left" %}
  {% set body_class = 'left-align' %}
  {% set position = 'left' %}
  {% set width = 'width-left' %}
{% elseif content.field_description_position.0['#markup'] == 'right' %}
  {% set body_class = 'right-align' %}
  {% set position = 'right' %}
  {% set width = 'width-right' %}
{% elseif content.field_description_position.0['#markup'] == 'center' %}
  {% set body_class = 'center-align' %}
  {% set position = 'center' %}
  {% set width = 'none' %}
{% else %}
  {% set body_class = 'none' %}
  {% set position = 'none' %}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="teaser-descriptive" style="background-image: url({{image}});">
        <div class="teaser-descriptive--wrapper">
          <div class="teaser-descriptive--wrapper--title {{ title_class }} {{ lineposition }}">
            {{ content.field_title.0 }}
          </div>
          <div class="teaser-descriptive--wrapper--body {{ body_class }} {{ position }} {{ width }}">
            <div class="teaser-descriptive--wrapper--body--content">
              {{ content.field_description.0 }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
