.block--type-promotion-block {
  img {
    @extend .img-responsive;
  }
  .promition-blocks-wrap {
    white-space: nowrap;
    display: block;
    clear: both;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    @include medium {
      padding: 30px 0 20px 0;
    }
    .promition-blocks {
      display: inline-block;
      float: none;
      white-space: normal;
      vertical-align: middle;
      color: $black;
      @include small-large {
        display: block;
      }
      .field--field-one-liner {
        font-size: 40px;
        font-family: 'Exo', sans-serif;
        font-weight: 400;
        @include medium {
          font-size: 20px;
          margin-top: 10px;
        }
        @include small-large {
          font-size: 18px;
        }
        p {
          margin-bottom: 0;
        }
        h4 {
          margin-top: 0;
          font-size: 45px;
          font-weight: 500;
          @include medium {
            font-size: 28px;
          }
          @include small-large {
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
      &.promo- {
        &img {
          padding-right: 0px;
          @include small-large {
            padding-right: 15px;
          }
        }
        &text {
          padding-left: 70px;
          @include medium {
            padding-left: 32px;
          }
          @include small-large {
            padding-left: 15px;
            text-align: center;
          }
        }
      }
      .promotions-cta-wrap {
        margin-top: 57px;
        @include medium {
          margin-top: 21px;
        }
        .field--field-promotion-cta {
          display: inline-block;
          >div {
            display: inline-block;
            a {
              @extend .btn-def--rev;
              margin-right: 22px;
              margin-bottom: 10px;
              @include medium {
                margin-right: 13px;
              }
              @include small-large {
                margin-left: 7.5px;
                margin-right: 7.5px;
              }
              &:hover {
                background-color: $perssian_green;
                color: $white;
              }
            }
            &:last-of-type:not(:first-of-type) {
              a {
                @extend .btn-def;
              }
            }
          }
        }
        [data-toggle="modal"] {
          @extend .btn-def;
          margin-bottom: 10px;
          @include medium {
            font-size: 14px;
            width: 158px;
            margin-right: 13px;
          }
          @include small-large {
            width: 138px;
            height: 38px;
            line-height: 38px;
            margin-left: 7.5px;
            margin-right: 7.5px;
          }
          @include transition(background-color, ease, 0.5s);
          &:hover {
            color: $perssian_green;
            background-color: $white;
          }
        }
      }
    }
  }
}
