{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'container-fluid',
  label ? 'block--label-' ~ label|clean_class,
  plugin_id ? 'block--id-' ~ plugin_id|clean_class,
  block_type_name ? 'block--type-' ~ block_type_name|clean_class
] %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="promition-blocks-wrap">
      <div class="col-sm-5 col-xs-12 promition-blocks promo-img" >
        {{ content.field_animation_images }}
      </div>
      <div class="col-sm-7 col-xs-12 promition-blocks promo-text" >
        {{ content.field_one_liner }}
        <div class="promotions-cta-wrap" >
        {{ content|without('field_animation_images', 'field_one_liner', 'field_popup_form') }}
        {% if content.field_popup_form|field_value %}
          <button data-toggle="modal" data-target="{{ content.field_popup_form|field_value['#text'] }}"  >{{ 'Free analysis'|t }}</button>
        {% endif %}
        </div>
      </div>
      <div class="clearfix" ></div>
    </div>
  {% endblock %}
</div>
