.block--type-cards {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  @media #{$small-and-down} {
    margin-top: 0px;
  }
  @media #{$medium-and-down} {
    margin-top: 0px;
  }
}
