{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}

{% set var_class_prefix = 'heading-1--' %}
{% if variation is iterable %}
  {% set var_class = '' %}
  {% for v in variation %}
    {% set var_class = var_class ~ ' ' ~ var_class_prefix ~ v %}
  {% endfor %}
  {% set var_class = var_class|trim %}
{% else %}
  {% set var_class = var_class_prefix ~ variation %}
{% endif %}
{% set var_class = 'heading-1 ' ~ var_class %}

{{ title_prefix }}
{% if title %}
  <h1 class="{{ var_class }}">
    {% if heading_link %}<a href="{{ heading_link }}">{% endif %}
      {{ title }}
    {% if heading_link %}</a>{% endif %}
  </h1>
{% endif %}
{{ title_suffix }}
