.fixed-main-sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -320px;
  width: 320px;
  background-color: $primary;
  height: 100%;
  color: $white;
  z-index: 2;
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 28px;
  text-align: right;
  @include transition(right, ease, 0.5s);
  body.fixed-sidebar-open & {
    right: 0;
  }
  a {
    color: inherit;
  }
  .close-fixed-sidebar-btn {
    border: 0;
    background: transparent;
    outline: 0;
    position: relative;
    right: -10px;
    svg {
      height: 40px;
      width: 40px;
      fill: $white;
    }
  }
  nav {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    ul {
      padding: 0;
      li {
        display: block;
        position: relative;
        &.has-child.active {
          .menu-child-toggler {
            &::after {
              -ms-transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
        .menu-child-toggler {
          position: absolute;
          text-align: center;
          width: 16px;
          height: 100%;
          display: inline-block;
          right: 0;
          top: 18px;
          cursor: pointer;
          &::after,
          &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: $white;
            position: absolute;
            left: 0;
            right: 0;
            top: 7px;
            bottom: auto;
            margin: auto;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transition(transform, ease, 0.5s);
          }
          &::after {
            width: 2px;
            top: 0px;
          }
          &::before {
            height: 2px;
          }
        }
        a {
          font-size: 19px;
        }
      }
    }
    >ul {
      >li {
        border-bottom: 1px solid rgba($white, 0.15);
        >a {
          display: block;
          padding-top: 13px;
          padding-bottom: 15px;
          text-decoration: none;
        }
        &.active {
          >ul {
            max-height: 500px;
          }
        }
        >ul {
          max-height: 0;
          overflow: hidden;
          padding-left: 15px;
          font-family: 'Exo', sans-serif;
          font-weight: 400;
          @include transition(max-height, ease, 0.5s);
          >li {
            padding-bottom: 2.5px;
            &:not(:first-of-type) {
              padding-top: 2.5px;
            }
            &:last-of-type {
              padding-bottom: 20px;
            }
            a {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
  .region--navigation-collapsible {
    max-height: calc(100% - 70px);
    padding-right: 10px;
  }
}
