.main-header-parent {
  @include medium {
    position: absolute;
    top: 40px;
    width: 100%;
  }
  @include small-large {
    top: 30px;
  }
  body.header-sticky & {
    height: 60px;
    @include medium {
      height: 40px;
    }
    @include small-large {
      height: 40.98px;
    }
  }
  .main-header {
    border-bottom: 1px solid $border;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    position: relative;
    background-color: $white;
    @include medium {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    body.header-sticky & {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 2;
    }
    >* {
      white-space: normal;
      vertical-align: middle;
      float: none !important;
      &:nth-child(1) {
        @extend .col-md-2;
        display: inline-block;
        @extend .col-sm-10;
        @extend .col-xs-12;
        @include small-large {
          text-align: center;
        }
        a {
          display: inline-block;
          margin-top: 5px;
          @include medium {
            margin-top: 8px;
          }
          @include small-large {
            margin-top: 12px;
            margin-bottom: 6px;
            z-index: 1;
          }
          img {
            display: block;
            margin-top: 0px;
            @include medium {
              margin-top: 0px;
            }
            @include small-large {
              margin-top: 0px;
              margin-bottom: 0px;
            }
          }
        }
        img {
          @extend .img-responsive;
          display: inline-block;
          @include small-large {
            margin-top: 13px;
            margin-bottom: 11px;
            z-index: 1;
          }
          @include medium {
            max-width: 129px;
          }
        }
      }
      &:nth-child(2) {
        @extend .col-md-8;
        display: inline-block;
        @include medium {
          display: none;
        }
        nav>ul,
        >ul {
          color: $black;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          margin-bottom: 0;
          @extend .list-inline;
          >li {
            position: relative;
            padding: 5px 10px;
            a {
              color: inherit;
              text-decoration: none;
              @include medium-large {
                font-size: 12px;
              }
            }
            &:hover {
              >a {
                color: $primary;
              }
              >ul {
                max-height: 500px;
              }
            }
            >ul {
              position: absolute;
              padding: 0;
              max-height: 0;
              overflow: hidden;
              z-index: 1;
              @include transition(max-height, ease, 0.5s);
              &::before {
                display: block;
                content: '';
                width: 100%;
                padding-top: 20px;
              }
              >li {
                background-color: $white;
                margin: 0;
                display: block;
                width: 200px;
                border-left: 1px solid $border;
                border-right: 1px solid $border;
                &:first-of-type {
                  border-top: 2px solid $primary;
                }
                &:last-of-type {
                  border-bottom: 1px solid $border;
                }
                a {
                  display: block;
                  text-decoration: none;
                  padding: 15px 10px;
                  background-color: $white;
                  &:hover {
                    background-color: $border;
                  }
                }
              }
            }
            &:not(:last-of-type) {
              &::after {
                content: '|';
                position: absolute;
                right: -5px;
                top: 5px;
                bottom: 0;
                margin: auto;
                left: auto;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        @extend .col-md-1;
        @extend .col-sm-1;
        display: inline-block;
        padding-right: 0;
        @include small-large {
          position: absolute;
          right: 60px;
          top: 0;
          bottom: 0;
          margin: auto;
          left: auto;
          z-index: 1;
          padding-left: 0;
        }
      }
      &:nth-child(4) {
        @extend .col-md-1;
        @extend .col-sm-1;
        display: inline-block;
        text-align: center;
        @include small-large {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          left: auto;
          z-index: 1;
        }
      }
      .sidebar-toggler {
        background-color: $hamburger;
        border: 0;
        height: 40px;
        line-height: 62px;
        margin-left: 10px;
        outline: 0;
        svg {
          fill: $white;
          opacity: 1;
          width: 32px;
          height: 32px;
          @include medium {
            fill: $hamburger;
            width: 28px;
            height: 24px;
          }
          @include small-large {
            width: 20px;
            height: 20px;
          }
        }
        @include medium {
          margin-left: 0px;
          background-color: transparent;
          height: 35px;
          line-height: 56px;
        }
        @include small-large {
          height: 40px;
          line-height: 53px;
        }
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
