.breadcrump-wrap {
  background-color: #f2f2f2;
  padding: 5px 0;
  font-size: 15px;
  height: auto;
  line-height: 30px;

  @media (max-width: 992px) {
    line-height: 23px;
  }

  ul {
    margin-bottom: 0;
    width: calc(97% + 8px);
    @include flexbox();
    align-items: center;

    li {
      color: #CECECE;
      font-weight: 500;

      &:first-child,
      &:last-child {
        padding-left: 0px;
      }

      a {
        color: #3563a2;

        @media (max-width: 767px) {
          font-weight: 600;
        }
      }

      a:hover {
        background: #fff0;
        color: #30f;
      }

      &.seperator {
        padding: 0;
        font-size: 15px;
        width: 5px;
        height: auto;
        font-weight: 100;
        text-align: center;
        color: #3563a2;
      }
    }

    .current-page-title {
      padding-left: 15px;
      color: #00000085;
    }
  }
}

.hidden-xs {
  display: block !important;

  @media (max-width: 767px) {
    display: none !important;
  }
}

.visible-xs {
  display: none !important;

  @media (max-width: 767px) {
    display: block !important;
  }
}

.breadcrumb::before {
  content: '';
}

.region--breadcrumb {
  @media (max-width: 992px) {
    margin-top: 18px;
  }
}
