{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" class="breadcrump-wrap" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="list-inline container">
    {% set back_url = ''  %}
    {% for item in breadcrumb %}
      <li class="hidden-xs">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
          {% set back_url = item.url  %}
        {% else %}
          {{ item.text }}          
        {% endif %}
      </li>
      <li class="seperator hidden-xs">|</li>
    {% endfor %}
    <li class="hidden-xs current-page-title">{{ current_page_title }}</li>
    {% if back_url %}
      <li class="visible-xs" style=""><a onclick="goBack()" > <span style="position: relative;display: inline-block;top: 0px;"><</span> {{ 'Back'|t }}</a></li>
    {% endif %}
    </ul>
  </nav>
{% endif %}