.anchor-item {
  .paragraph--type--anchor-item {
    max-width: 147px;
    margin: auto;
    @media #{$small-and-down} {
      max-width: 100px;
    }
  }
  .field--field-link {
    text-align: center;
    font-weight: bold;
    >a {
      color: #69788f;
      font-size: 22px;
      font-weight: 700;
      line-height: 35px;
      @media #{$medium-and-down} {
        font-size: 12px;
      }
      @media #{$small-and-down} {
        font-size: 10px;
      }
    }
  }
  .field--field-image {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.anchor-items {
  h2 {
    line-height: 32px;
  }
  .field--field-description {
    font-style: italic;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 18px;
    @media #{$medium-and-down} {
      font-size: 10px;
    }
    @media #{$small-and-down} {
      padding-left: 5px;
      margin-right: 5px;
      font-size: 7px;
    }
  }
  .field--field-text {
    color: #677897;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    @media #{$medium-and-down} {
      font-size: 10px;
    }
    @media #{$small-and-down} {
      font-size: 7px;
    }
  }
}

.anchor-item-wrapp {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);
  >div {
    @include flex-basis(33.33333%);
    padding-bottom: 35px;
    @media #{$small-and-down} {
      @include flex-basis(50%);
      padding-bottom: 15px;
    }
    @media not all and (min-resolution:.001dpcm) { 
      @supports (-webkit-appearance:none) {
        @include flex-basis(25%);
      }
    }
  }
}

.nocontainer {
  margin-left: 3%;
  margin-right: 3%;
  .anchor-item {
    padding-bottom: 35px;
    .paragraph--type--anchor-item {
      max-width: 100%;
      margin: 0 auto;
      img {
        max-width: 150px;
        height: auto;
        @media #{$medium-and-down} {
          max-width: 130px;
          padding-bottom: 7px;
        }
        @media #{$small-and-down} {
          max-width: 100px;
          padding-bottom: 5px;
        }
      }
    }
    @media #{$small-and-down} {
      padding: 8px;
      padding-bottom: 20px;
    }
  }
  .field--field-text {
    text-align: center;
    color: #677897;
    font-size: 14px;
    font-weight: 700;
    body.page-node-5800 & {
      font-weight: 200;
      margin: 0px 10px;
    }
    line-height: 24px;
    @media #{$medium-and-down} {
      font-size: 12px;
      line-height: 20px;
    }
    @media #{$small-and-down} {
      font-size: 10px;
      line-height: 16px;
    }
  }
  .field--field-description {
    font-style: italic;
    text-align: center;
    max-width: 830px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 18px;
    @media #{$medium-and-up} {
      margin-bottom: 60px;
    }
    @media #{$medium-and-down} {
      font-size: 15px;
      margin-bottom: 35px;
    }
    @media #{$small-and-down} {
      font-size: 14px;
    }
  }
  .field--field-link {
    text-align: center;
    font-weight: bold;
    >a {
      color: #69788f;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      @media #{$medium-and-down} {
        font-size: 12px;
        line-height: 12px;
      }
      @media #{$small-and-down} {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}

.mob-full {
  .anchor-item-wrapp {
    >div {
      @media #{$small-and-down} {
        flex-basis: 100%;
      }
    }
  }
}

div#block-industrysolutions {
  .paragraph--type--anchor-item {
    max-width: 100%;
    margin: auto;
  }
  @media #{$large-and-up} {
    margin-top: 5%;
  }
  .anchor-item-wrapp {
    >div {
      @include flex-basis(25%);
      @media #{$medium-and-down} {
        @include flex-basis(50%);
      }
    }
    img {
      width: 80% !important;
      height: auto !important;
    }
    .anchor-item .field--field-link>a {
      font-size: 110%;
      line-height: 25px;
      font-weight: 500;
      @media #{$small-and-down} {
        @include flex-basis(80%);
        line-height: 18px;
      }
    }
  }
}

div#stewardsslider {
  .anchor-item .field--field-link>a {
    font-size: 110%;
    line-height: 25px;
  }
}

body.path-frontpage {
    .anchor-item-wrapp {
    >div {
      @include flex-basis(25%);
      @media #{$medium-and-down} {
        @include flex-basis(50%);
      }
    }
    img {
      width: 80% !important;
      height: auto !important;
    }
    .anchor-item .field--field-link>a {
      font-size: 110%;
      line-height: 25px;
      font-weight: 500;
      @media #{$small-and-down} {
        @include flex-basis(80%);
        line-height: 18px;
      }
    }
  }
}
