.header-search-wrap {
  position: relative;
  text-align: right;
  .toggle-search-header {
    border: 0;
    background: transparent;
    font-size: 20px;
    top: 5px;
    outline: 0;
    position: relative;
    left: 5px;
    &:focus {
      outline: 0;
    }
    svg {
      opacity: 1;
      fill: $black;
      width: 24px;
      height: 24px;
      body.header-sticky & {
        width: 32px;
        height: 32px;
      }
      @include medium {
        width: 16px;
        height: 16px;
        body.header-sticky & {
          width: 16px;
          height: 16px;
        }
      }
    }
    @include small-large {
      left: 0;
      top: 7px;
    }
  }
  &.search-open {
    .search-form-wrap-header {
      max-height: 500px;
    }
  }
  .search-form-wrap-header {
    position: absolute;
    z-index: 1;
    text-align: left;
    right: 0px;
    background-color: $white;
    margin-top: 13px;    
    color: $black;
    width: 300px;
    overflow: hidden;
    max-height: 0;
    @include transition(max-height, ease, 0.5s);
    @include medium {
      margin-top: 6px;
    }
    @include small-large {      
      margin-top: 10px;
    }
    @include small {
      width: 270px;
      right: -50px;
    }
    form {
      border-top: 2px solid $primary;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      padding: 15px 15px;
      input {
        width: 100%;
        &[type="submit"] {
          color: $black;
        }
      }
    }
  }
}
