.person-descriptive {
  min-height: 600px;
  width: 100%;
  // @media (min-width: 1180px) {
  //   height: 600px;
  // }
  @media #{$medium-and-down} {
    min-height: auto;
  }
  background-color: white;
  &--wrapper {
    height: inherit;
    @media #{$small-and-down} {
      position: relative;
    }
    &--person-image {
      height: inherit;
      @extend .col;
      @extend .l5;
      @extend .m5;
      @extend .s12;
      overflow: hidden;
      @media #{$small-and-down} {
        text-align: center;
      }
      img {
        max-width: 100%;
        height: auto;
        overflow: hidden;
        @media #{$small-and-down} {
          width: auto;
         // height: 100%;
          object-fit: cover;
        }
      }
    }
    &--wrap {
      @extend .col;
      @extend .l7;
      @extend .m7;
      @extend .s12;
      height: inherit;
      @media #{$small-and-down} {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.9);
      }
      &--person-details {
        width: 89%;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px;
        @media #{$medium-and-down} {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media #{$small-and-down} {
          width: 100%;
          text-align: center;
        }
        .before {
          &::before {
            content: "";
            display: inline-block;
            background-color: black;
            opacity: 0.5;
            width: 53%;
            height: 2px;
            vertical-align: middle;
            margin-right: 13px;
            @media #{$small-and-down} {
              display: none;
            }
          }
        }
        .after {
          &::after {
            content: "";
            display: inline-block;
            background-color: black;
            opacity: 0.5;
            width: 53%;
            height: 2px;
            vertical-align: middle;
            margin-left: 13px;
            @media (max-width:1200px) {
              margin-left: 0px;
              width: 45%;
            }
            @media (max-width:992px) {
              margin-left: 13px;
              width: 53%;
            }
            @media (max-width:754px) {
              margin-left: 0px;
              width: 50%;
            }
            @media #{$small-and-down} {
              display: none;
            }
          }
        }
        .both {
          &::after {
            content: "";
            display: inline-block;
            background-color: black;
            opacity: 0.5;
            width: 25%;
            height: 2px;
            vertical-align: middle;
            margin-left: 13px;
            @media #{$small-and-down} {
              display: none;
            }
          }
          &::before {
            content: "";
            display: inline-block;
            background-color: black;
            opacity: 0.5;
            width: 25%;
            height: 2px;
            vertical-align: middle;
            margin-right: 13px;
            @media #{$small-and-down} {
              display: none;
            }
          }
        }
        &--title {
          font-size: 33px;
          font-weight: bold;
          color: black;
          @media #{$medium-and-down} {
            font-size: 20px;
          }
          @media #{$small-and-down} {
            font-size: 12px;
          }
        }
        &--body {
          margin-top: 40px;
          font-size: 18px;
          font-weight: 500;
          color: black;
          line-height: 34px;
          @media #{$medium-and-down} {
            margin-top: 30px;
            font-size: 14px;
            line-height: 27px;
          }
          @media #{$small-and-down} {
            margin-top: 10px;
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
