header {
  .header-sitewide-search {
    position: relative;

    form {
      position: absolute;
      width: 27px;
      top: -15px;
      height: 27px;
      right: 0;
      @include transition(width, ease, 0.5s);

      .search_input_after,
      .form-item-title input {
        animation-duration: 1.1s;
        animation-fill-mode: forwards;
      }

      .search_input_after::before,
      .search_input_after::after {
        animation-duration: 1.3s;
        animation-fill-mode: forwards;
      }

      &.in {
        height:27px;
        .form-item-title {
          input {
            animation-name: expand;
          }
        }
      }

      &.in .search_input_after::before {
        animation-name: beforemagic;
      }

      &.in .search_input_after::after {
        animation-name: aftermagic;
      }

      &.close,
      &.close .form-item-title input,
      &.close .search_input_after,
      &.close .search_input_after::before,
      &.close .search_input_after::after {
        animation-direction: reverse;
      }

      &.close {
        .form-item-title {
          input {
            animation-name: expand;
          }
        }
      }

      &.close .search_input_after::before {
        animation-name: beforemagic;
      }

      &.close .search_input_after::after {
        animation-name: aftermagic;
      }

      label {
        display: none;
      }

      &.serach-form-active {
        width: 260px;

        @media #{$small-and-down} {
          width: 165px;
        }

        .form-item {
          &.form-item-title {
            input {
              cursor: default;
              height: 27px;
              border-radius: 2px;
            }
          }
        }

        .search_input_after {
          z-index: 3;

          &::before {
            width: 20px;
            top: 5px;
            right: 8px;
            opacity: 1;
          }

          &::after {
            width: 20px;
            bottom: 5px;
            right: 10px;
          }
        }
      }

      .form-item {
        &.form-item-title {
          input {
            border: 2px solid #ccc;
            width: 100%;
            height: 27px;
            margin: 0;
            border-radius: 26px;
            background-color: #fff;
            cursor: pointer;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 15px;
            @include transition((border-radius, height, padding), ease, 0.5s);

            &:focus {
              border-color: #ccc;
              border-bottom: 1px solid #ccc;
              box-shadow: 0 1px 0 0 #ccc;
            }
          }
        }
      }

      .search_input_after {

        &::before,
        &::after {
          content: '';
          width: 13px;
          height: 3px;
          background-color: #ccc;
          border-radius: 3px;
          position: absolute;
          transform-origin: 100% 100%;
        }

        &::after {
          bottom: -5px;
          right: -5px;
          @include rotate(45);
        }

        &::before {
          top: -3px;
          right: -3px;
          @include rotate(-45);
          opacity: 0;
        }
      }

      input {
        &[type="submit"] {
          position: absolute;
          z-index: -99999;
          opacity: 0;
          visibility: hidden;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }
  }
}

@keyframes aftermagic {
  0% {}

  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }

  15% {
    opacity: 1;
  }

  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  64% {
    opacity: 0;
    bottom: -2px;
  }

  65% {
    opacity: 1;
    width: 13px;
    bottom: 0px;
    right: -3px;
  }

  75% {
    width: 30px;
    bottom: 3px;
    right: 5px;
  }

  90% {
    width: 20px;
    bottom: 4px;
    right: 10px;
  }

  100% {
    width: 20px;
    bottom: 5px;
    right: 10px;
  }
}

@keyframes beforemagic {
  0% {}

  50% {
    opacity: 0;
  }

  55% {
    opacity: 1;
    width: 13px;
    top: -6px;
    right: -3px;
  }

  65% {
    width: 30px;
    top: 2px;
    right: 7px;
  }

  80% {
    width: 20px;
    top: 4px;
    right: 8px;
  }

  100% {
    width: 20px;
    top: 5px;
    right: 8px;
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    border-radius: 20px;
  }

  20% {
    border-radius: 18px;
  }

  45% {
    border-radius: 10px;
  }

  99% {
    border-radius: 2px;
  }

  100% {
    border-radius: 2px;
  }
}
