{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set label_class %}
  {{ label }}
{%  endset %}
{% set classes = [
  'block',
  label_class ? 'block--label-' ~ label_class|trim|clean_class,
  plugin_id ? 'block--id-' ~ plugin_id|clean_class,
  block_type_name ? 'block--type-' ~ block_type_name|clean_class,
  'header-sitewide-search'
] %}
{% if extra_classes %}
  {% set classes = classes|merge(extra_classes) %}
{% endif %}
{% if class %}
  {% set classes = classes|merge(class) %}
{% endif %}
  {% set input_title = content.title|merge({'#suffix': '<div class="search_input_after" ></div>', '#attributes': {'autocomplete': 'off'}}) %}
  {% set content = content|merge({'title' : input_title}) %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>