.region--footer {
  @include flexbox();
  @media #{$small-and-down} {
    flex-direction: column;
  }
  > div {
    height: auto !important;
    &.block--type-our-locations {
      @media #{$small-and-down} {
        text-align: center;
      }
    }
  }
  .footer-bottom-custom {
    .include-branding {
      display: none;
      @media #{$medium-and-down} {
        display: block;
        margin-bottom: 20px;
      }
      @media #{$small-and-down} {
        margin-top: 20px;
      }
      img {
        @media #{$medium-and-down} {
          max-width: 200px;
          height: auto;
        }
      }
    }
    .block--type-footer-copyright-section {
      img {
        max-width: 200px;
        height: auto;
      }
    }
  }
  .field.field--body {
    @media #{$small-and-down} {
      margin-top: 20px;
    }
  }
  .list-inline.social-media {
    @media #{$small-and-down} {
      margin-top: 45px;
    }
  }
  .zyx-img{
    @media #{$medium-and-down} {
      height: 35px;
      width:59%;
    }
  }
  .block--id-system-branding-block {
    @media #{$medium-and-down} {
      display: none;
    }
    img {
      @media #{$medium-and-down} {
        display: none;
      }
    }
  }
  .menu--aboutus {
    li {
      a {
        @media #{$medium-and-down} {
          font-size: 15px;
          font-weight: bold;
        }
        @media #{$small-and-down} {
          font-size: 10px;
          font-weight: 700;
        }
      }
    }
  }
}
