{% set var_class_prefix = 'heading-6--' %}
{% if variation is iterable %}
  {% set var_class = '' %}
  {% for v in variation %}
    {% set var_class = var_class ~ ' ' ~ var_class_prefix ~ v %}
  {% endfor %}
  {% set var_class = var_class|trim %}
{% else %}
  {% set var_class = var_class_prefix ~ variation %}
{% endif %}
{% set var_class = 'heading-6 ' ~ var_class %}

{{ title_prefix }}
{% if title %}
  <h6 class="{{ var_class }}">
    {% if heading_link %}<a href="{{ heading_link }}">{% endif %}
      {{ title }}
    {% if heading_link %}</a>{% endif %}
  </h6>
{% endif %}
{{ title_suffix }}
