$def-margins: 60px;
$def-margins-md: 40px;
$def-margins-sm: 28px;
.paragraph--type--career-ad-item {
  position: relative;
  text-align: center;
  @extend .row;
  margin-top: $def-margins;
  margin-bottom: $def-margins;
  @include medium {
    margin-top: $def-margins-md;
    margin-bottom: $def-margins-md;
  }
  @include small-large {
    margin-top: $def-margins-sm;
    margin-bottom: $def-margins-sm;
  }
  img {
    @extend .img-responsive;
  }
  .career-title,
  .field--field-cta {
    position: absolute;
    width: 100%;
  }
  .career-title {
    top: 80px;
    @include medium {
      top: 50px;
    }
    .field--field-career-ad-quote {
      display: inline-block;
      background-color: rgba($white, 0.54);
      font-size: 40px;
      font-family: "Exo";
      font-weight: 400;
      color: $black;
      line-height: normal;
      @include medium {
        font-size: 28px;
      }
      @include small-large {
        font-size: 24px;
      }
      p {
        margin: 0;
      }
    }
  }
  .field--field-cta {
    bottom: 70px;
    @include medium {
      bottom: 40px;
    }
    a {
      font-family: "Exo";
      font-size: 24px;
      color: $black;
      text-decoration: none;
      text-shadow: 0px 0px 0px transparent;
      @include transition((color, text-shadow), ease, 0.8s);
      @include medium {
        font-size: 18px;
      }
      @include small-large {
        font-size: 16px;
      }
      &:hover {
        text-shadow: 0px 0px 3px #000;
        color: $white;
      }
    }
  }
}

.career-job-block-home {
  font-family: "Exo";
  text-align: center;
  color: $black;
  margin-top: $def-margins;
  margin-bottom: $def-margins;
  @include medium {
    margin-top: $def-margins-md;
    margin-bottom: $def-margins-md;
  }
  @include small-large {
    margin-top: $def-margins-sm;
    margin-bottom: $def-margins-sm;
  }
  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    @include medium {
      font-size: 28px;
      margin-bottom: 10px;
    }
    @include small-large {
      font-size: 24px;
    }
  }
  .views-row {
    border-bottom: 1px solid rgba($perssian_green, 0.4);
    padding-top: 20px;
    padding-bottom: 27px;
    max-width: 400px;
    margin: auto;
    @include medium {
      padding-top: 10px;
      padding-bottom: 15px;
      max-width: 260px;
    }
    +.views-row {
      border-bottom: 0px solid transparent;
    }
    .views-field-title {
      font-size: 24px;
      @include medium {
        font-size: 18px;
      }
    }
    .views-field-view-node {
      a {
        @extend .btn-def;
        margin-top: 8px;
        margin-bottom: 0px;
        @include small-large {
          margin-top: 5px;
        }
      }
    }
  }
  .more-link {
    font-size: 24px;
    margin-top: 2px;
    @include medium {
      font-size: 18px;
    }
    @include small-large {
      font-size: 16px;
    }
    a {
      color: $perssian_green;
      text-decoration: none;
      background-color: transparent;
      border: 0;
      padding: 0;
      height: auto;
      width: auto;
      line-height: initial;
      &:hover {
        color: $primary;
      }
    }
  }
}
