.block--type-our-locations {
  @extend .col-lg-7;
  @extend .col-sm-6;
  background-image: url('../../images/footer-bg/hello-bg.jpg');
  padding-top: 25px;
  padding-bottom: 75px;
  padding-left: 73px;
  padding-right: 73px;
  color: $white;
  background-position: center center;
  background-size: cover;
  @include medium {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  @include small-large {
    padding-left: 20px;
    padding-right: 20px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 113, 216, 0.9);
    z-index: 0;
  }
  .field--field-tiltle {
    @include blockTitle();
    margin-top: 20px;
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 15px;
      margin-top: 0px;
    }
  }
  .world_map {
    display: inline-block;
    @include medium {
      width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .world_map_title {
      position: relative;
    }
    .world_map__wrap {
      position: relative;
      @include medium {
        display: none;
      }
    }
  }
  .field.field--field-location-items {
    >div {
      position: absolute;
      z-index: 1;
      background-color: #474787;
      color: #fff;
      padding: 15px 15px;
      border: 1px solid #fff;
      font-family: "Exo";
      opacity: 0;
      z-index: -999;
      width: 100%;
      max-width: 320px;
      @include transition(opacity, ease, 0.5s);
      &.popup-active {
        opacity: 1;
        z-index: 1;
      }
      &.active {
        .paragraph--type--location-item {
          .field--field-location {
            @include medium {
              &::after {
                content: '\f0dd';
              }
            }
          }
        }
      }
      &:not(:last-of-type) {
        .paragraph--type--location-item {
          .field--field-addresses,
          .field--field-location {
            border-bottom: 0px solid transparent;
            >div:last-of-type {
              border-bottom: 0px solid transparent;
            }
          }
        }
      }
      @include medium {
        display: block;
        position: static;
        background-color: transparent;
        padding: 0;
        font-family: "Merriweather";
        border: 0px solid transparent;
        &.active {
          .paragraph--type--location-item {
            .field--field-addresses {
              max-height: 1000px;
            }
          }
        }
      }
      .paragraph--type--location-item {
        .field--field-location {
          @include medium {
            position: relative;
            border: 1px solid #fff;
            font-size: 18px;
            font-weight: 300;
            padding: 11.5px 20px;
            cursor: pointer;
            p {
              margin: 0;
            }
            &::after {
              content: '\f0da';
              font-family: FontAwesome;
              position: absolute;
              right: 20px;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              height: 15px;
              line-height: 15px;
            }
          }
        }
        .field--field-addresses {
          @include medium {
            max-height: 0;
            @include transition(max-height,
            ease,
            0.5s);
            overflow: hidden;
            >div {
              text-align: center;
              padding: 25px 30px;
              font-size: 13px;
              border-left: 1px solid #fff;
              border-right: 1px solid #fff;
              &:last-of-type {
                border-bottom: 1px solid #fff;
              }
              p {
                margin: 0;
                font-size: 13px;
              }
            }
          }
          .field--field-phone-numbers {
            .paragraph--type--phone-item {
              >div {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
