{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  label ? 'block--label-' ~ label|clean_class,
  plugin_id ? 'block--id-' ~ plugin_id|clean_class,
  block_type_name ? 'block--type-' ~ block_type_name|clean_class
] %}
{% if class %}
  {% set classes = classes|merge(class) %}
{% endif %}
{% if clear_before %}
<div class="clearfix"></div>
{% endif %}
<div{{ attributes.addClass(classes) }}>  
  {% block content %}
    <div class="world_map">
      <div class="world_map_title" >{{ content.field_tiltle }}</div>
      <div class="world_map__wrap">
        <img id="Image-Maps-Com-image-maps-2018-05-17-084013" src="/themes/custom/zyxpro/images/world_map/world-map.png" border="0" width="800" height="370" orgWidth="800" orgHeight="370" usemap="#image-maps-2018-05-17-084013" alt="" />
        <map name="image-maps-2018-05-17-084013" id="ImageMapsCom-image-maps-2018-05-17-084013">
          <area id="zyx_usa" alt="United States" title="United States" href="" shape="poly" coords="83,147,89,138,96,130,97,125,97,118,93,114,89,109,83,108,75,109,70,116,71,126,67,126" style="outline:none;" target="_self"     />
          <area id="zyx_india" alt="India" title="India" href="" shape="poly" coords="522,171,516,164,512,160,508,153,507,147,507,141,514,135,519,134,531,135,536,145,535,153,527,167" style="outline:none;" target="_self"     />
          <area id="zyx_australia" alt="Australia" title="Australia" href="" shape="poly" coords="655,302,645,288,641,279,641,271,646,265,653,262,660,262,668,273,665,286" style="outline:none;" target="_self"     />
        </map>
      </div>    
    {{ content|without('field_tiltle') }}
    </div>
  {% endblock %}
</div>
{% if clear_after %}
<div class="clearfix"></div>
{% endif %}