header.region-header {
  height: 57px;
  display: block;
  @media #{$medium-and-down} {
    height: 55px;
  }
  .sticky-head-wrap {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media(min-width: 992px) and (max-width: 1024px) {
      display: flex;
      align-items: center;
      height: 57px;
    }
    .region--header {
      height: auto;
      padding: 0px 30px;
      white-space: nowrap;
      @media(min-width: 992px) and (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        padding: 0px 15px;
        height: auto;
        display: flex;
        align-items: center;
      }
      @media(min-width: 1025px) and (max-width: 1365px) {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-evenly);
        .block--id-system-branding-block {
          width: 18%;
        }
        #block-mainmenuglobal {
          width: 80%;
          .navbar-we-mega-menu {
            .we-mega-menu-ul {
              @include flexbox();
              @include justify-content(space-between);
            }
          }
        }
      }
      * {
        white-space: normal;
      }
      &::after {
        content: "";
        height: 100%;
        width: 0px;
        vertical-align: middle;
        display: inline-block;
      }
      nav {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        background-color: transparent;
        height: auto;
        box-shadow: none;
        width: calc(87% - 220px);
        text-align: right;
        @media (max-width: 1024px) {
          position: absolute;
          height: 100vh;
          width: 300px!important;
          right: -300px;
          top: 0;
          background-color: #f1f1f1;
          z-index: 1;
          padding: 15px 10px;
          text-align: center;
          @include transition(right, ease, 0.5s);
          body.fixed-sidebar-open & {
            right: 0;
          }
        }
        &::after {
          @media (max-width: 1024px) {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
        }
        > ul {
          line-height: normal;
          @media (max-width: 1024px) {
            display: inline-block;
            vertical-align: middle;
            overflow-y: auto;
            height: 100%;
          }
          .sub-active {
            ul {
              @media (max-width: 1024px) {
                max-height: 700px;
              }
            }
          }
          > li {
            position: relative;
            float: none;
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 1024px) {
              display: block;
              padding-top: 8px;
              padding-bottom: 8px;
            }
            &:hover {
              ul {
                @media #{$large-and-up} {
                  max-height: 1000px;
                }
              }
            }
            .link {
              @media (max-width: 1024px) {
                display: inline-block;
              }
            }
            .frame {
              display: none;
              @media (max-width: 1024px) {
                margin-left: 10px;
                display: inline-block;
              }
              i {
                @media (max-width: 1024px) {
                  height: 15px;
                  color: black;
                }
              }
            }
            ul {
              position: absolute;
              background-color: transparent;
              width: 303px;
              padding-top: 15px;
              max-height: 0;
              overflow: hidden;
              @include transition(max-height, ease, 0.7s);
              @media (max-width: 1024px) {
                max-height: 0;
                position: static;
                width: 100%;
                @include transition(max-height, linear, 0.5s);
                padding-top: 0;
              }
              > li {
                display: block;
                background-color: white;
                width: 100%;
                text-align: left;
                @media (max-width: 1024px) {
                  text-align: center;
                  background-color: transparent;
                }
                a {
                  padding-top: 8px;
                  padding-bottom: 8px;
                  padding-left: 8px;
                  padding-right: 8px;
                  color: #403232;
                  font-size: 11px;
                  &:hover {
                    background-color: #f1f1f1;
                  }
                  &::after {
                    display: none;
                  }
                }
                &:first-child {
                  border-top: 1px solid #3a28b2;
                  @media #{$medium-and-down} {
                    border-top: 1px solid #f1f1f1;
                  }
                  a {
                    @media #{$medium-and-down} {
                      padding-top: 15px;
                    }
                  }
                }
              }
            }
            a {
              color: $black;
              position: relative;
              padding: 0 8px;
              height: auto;
              line-height: normal;
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 0px;
              @media #{$medium-and-down} {
                font-size: 13px;
              }
              &::after {
                content: "";
                border-bottom: 2px solid $primary;
                display: block;
                width: 0;
                height: 1px;
                position: absolute;
                bottom: -7px;
                left: 0;
                right: 0;
                margin: auto;
                @include transition(width, ease, 0.5s);
              }
              &:hover {
                background-color: transparent;
                &::after {
                  width: calc(100% - 14px);
                }
              }
            }
            &:not(:last-of-type) {
              &::after {
                content: "|";
                position: absolute;
                display: inline-block;
                color: #000;
                right: -4px;
                top: 1px;
                bottom: 0;
                margin: auto;
                height: 19px;
                line-height: normal;
                font-size: 12px;
                font-weight: 600;
                @media #{$medium-and-down} {
                  display: none;
                }
              }
            }
          }
        }
      }
      > div {
        display: inline-block;
        vertical-align: middle;
        &.block--id-system-branding-block {
          width: 13%;
          @media (max-width: 1024px) {
            width: calc(100% - 148px);
          }
          img {
            max-width: 150px;
            height: auto;
            display: block;
            width: 100%;
          }
        }
        &.header-sitewide-search {
          width: 40px;
        }
        &.block--type-basic {
          width: 164px;
          @media (max-width: 1024px) {
            width: 100px;
          }
          text-align: right;
          .getin-touch-btn {
            background-image: linear-gradient(
              134.72deg,
              #3023ae 0%,
              #c86dd7 100%
            );
            border-radius: 2px;
            display: inline-block;
            border-radius: 3px;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            width: 100%;
            height: 27px;
            line-height: 27px;
            max-width: 100px;
            text-align: center;
            &:hover {
              opacity: 0.8;
            }
            @media (max-width: 1024px) {
              font-size: 10px;
              max-width: 82px;
            }
            @media (max-width: 1024px) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
  button.sidebar-toggler {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 75px;
    right: 15px;
    padding: 0;
    background: transparent;
    border: transparent;
    cursor: pointer;
    text-align: center;
    @include transition(right, ease, 0.5s);
    body.fixed-sidebar-open & {
      right: 310px;
    }
    .icon-bar {
      display: block;
      width: 30px;
      background-color: #993399;
      height: 3px;
      border-radius: 2px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      @include transition(all, ease, 0.5s);
      &:not(:last-of-type) {
        margin-bottom: 6px;
        body.fixed-sidebar-open & {
          margin-bottom: 0;
        }
      }
      body.fixed-sidebar-open & {
        &:first-of-type {
          @include rotate(-45);
          top: 2.5px;
        }
        &:nth-of-type(2) {
          width: 0;
        }
        &:last-of-type {
          @include rotate(45);
          bottom: 2.5px;
        }
      }
    }
  }
  .block--id-we-megamenu-blockmenu-main-menu-india {
    width: calc(87% - 220px);
    .region-we-mega-menu {
      background: #fff;
      padding: 10px 20px;
      >a.navbar-toggle {
        visibility: hidden;
      }
    }
    nav {
      margin-bottom: 0;
      width: 100%!important;
      height: 36px!important;
      @media (max-width: 1024px) {
        height: 100vh!important;
        padding: 0 !important;
        padding-top: 15px!important;
      }
      .we-mega-menu-ul {
        display: inline-block;
        @media (max-width: 1024px) {
          width: 100%;
        }
        >.we-mega-menu-li {
          cursor: pointer;

          > a, > span {
            background: #fff;
            height: 36px;
            padding-top: 0;
            padding-bottom: 0;
            align-content: center;
            @media (max-width: 1024px) {
              display: grid;
              text-align: left;
              text-shadow: none;
              border-top: 1px solid rgba(#ccc, 0.5);
              color: #000;
            }
          }
          &.active {
            > a, > span {
              @media (max-width: 1024px) {
                background: #993399;
                color: #fff;
              }

              background: #fff;
              color: #993399;
            }
          }
          .we-mega-menu-submenu-inner {
            min-height: auto;

            .subul {
              >.we-mega-menu-li {
                &:last-of-type a {
                  border: 0;
                }

                &.active {
                  background: transparent;

                  a {
                    color: #993399 !important;
                    border-color: rgba(0, 0, 0, 0.1) !important;
                  }
                }
              }
            }
          }
          .we-mega-menu-submenu-inner ul li a {
            @media (max-width: 1024px) {
              color: #676767 !important;
            }
          }
        }
      }
    }
    ~ #block-getintouch {
      p { 
        margin-bottom: 0;
      }
    }
    .title-submenu {
      span {
        font-size: 16px;
      }
    }
  }
}
