.location--item-wrap {
  position: absolute;
  max-width: 300px;
  width: auto;
  bottom: 0;
  left: 0;
  @media #{$small-and-down} {
    width: 220px;
  }
  .map-marker {
    width: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    @media #{$medium-and-down} {
      width: 5%;
    }
  }
  .map-content {
    background-color: $primary;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    color: $white;
    text-align: center;
    opacity: 0;
    z-index: -999;
    position: relative;
    max-height: 0;
    overflow: hidden;
    @include transition((opacity, max-height), ease, 0.5s);
    .field--field-location {
      font-weight: bold;
    }
    p {
      margin: 0px;
    }
    .field.field--field-place {
      margin-top: 10px;
      p {
        font-weight: 500;
      }
    }
    .location--item-wrap .map-content p {
      margin: 0px;
    }
  }
  &.active {
    .map-content {
      opacity: 1;
      z-index: 1;
      max-height: 1000px;
    }
  }
  &.location-- {
    &india {
      right: 24%;
      bottom: 49%;
      left: auto;
      .map-marker {
        left: auto;
        right: 0;
      }
    }
    &australia {
      left: auto;
      bottom: 21%;
      right: 3%;
      .map-marker {
        left: auto;
        right: 0;
      }
    }
    &united-states {
      left: 20%;
      bottom: 69%;
    }
  }
}
