.block--type-learn-more {
  margin-top: 20px;
  margin-bottom: 20px;
  .field--field-learn-more {
    margin-left: -7.5px;
    margin-right: -7.5px;
    @media #{$medium-and-up} {
      @include flexbox();
    }
    @include justify-content(center);
    @include align-items(center);
  }
  @media #{$small-and-down} {
    margin-top: 0px;
  }
  @media #{$medium-and-down} {
    margin-top: 0px;
  }
  >h2 {
    @media #{$small-and-down} {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}
