.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  //color: $black;
}

h1 {
  @extend .heading-1;
}

h2 {
  @extend .heading-2;
}

h3 {
  @extend .heading-3;
}

h4 {
  @extend .heading-4;
}

h5 {
  @extend .heading-5;
}

h6 {
  @extend .heading-6;
}

// TODO: BEM selectors should be applied to wysiwyg-created content
.text-long {
  h1 {
    @extend .heading-1;
  }
  h2 {
    @extend .heading-2;
  }
  h3 {
    @extend .heading-3;
  }
  h4 {
    @extend .heading-4;
  }
  h5 {
    @extend .heading-5;
  }
  h6 {
    @extend .heading-6;
  }
}
