.path-user {
  .main-container section {
    .region--content {
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 40px;
      padding-bottom: 30px;

      @media (max-width: 992px) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
