.contact-forms {
  width: 100%;
  max-width: 383px;
  position: relative;
  background-image: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  @media #{$small-and-down} {
    padding-left: 12px;
    padding-right: 12px;
  }
  label {
    color: white;
    font-family: ArialMT;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.26px;
    line-height: 14px;
    @media #{$small-and-down} {
      color: #F4F4F4;
      font-size: 9px;
      letter-spacing: 0.19px;
      line-height: 11px;
      opacity: 0.6670200892857143;
    }
  }
  .form-composite {
    legend {
      color: white;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.26px;
      line-height: 14px;
      @media #{$small-and-down} {
        padding-bottom: 10px;
        color: #F4F4F4;
        font-size: 9px;
        letter-spacing: 0.19px;
        line-height: 11px;
      }
    }
  }
  .js-form-type-textarea {
    label {
      display: none;
    }
  }
  .form-checkboxes {
    margin-bottom: 15px !important;
    @media #{$small-and-down} {
      margin-bottom: 10px !important;
    }
    @extend .row;
    .js-form-item {
      @media #{$small-and-down} {
        display: table;
        min-height: 23px;
      }
    }
    >.js-form-type-checkbox {
      @extend .col,
      .l6,
      .m6,
      .s6;
      padding-left: 0px;
      margin-top: 12px;
      @media #{$small-and-down} {
        margin-top: 6px;
        padding-right: 5px;
      }
      label {
        display: table-cell;
        position: relative;
        padding-left: 20px;
        letter-spacing: 0.26px;
        color: white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.26px;
        line-height: 14px;
        opacity: 1;
        @media #{$small-and-down} {
          font-size: 9px;
          letter-spacing: 0.19px;
          line-height: 11px;
        }
      }
      input {
        height: 0px;
        width: 0px;
        margin: 0px;
        padding: 0px;
        @include placeholder(#f7eeee);
        position: absolute;
      }
    }
  }
  .form-checkbox {
    position: relative;
    top: rem(-6);
    margin: 0 1rem 0 0;
    cursor: pointer;
    &:checked {
      ~label::before {
        content: " ";
        transform: rotate(-45deg);
        border-color: #fff;
        border-top-style: none;
        border-right-style: none;
        width: 10px;
        left: 2px;
        height: 5px;
        position: absolute;
        z-index: 1;
        top: 3px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
      ~label::after {
        background-color: #00c9e4;
        border-color: #00c9e4;
      }
    }
    ~label::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.9rem;
      height: 0.9rem;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #fff;
    }
  }
  .contact-message-feedback-form {
    margin-top: 30px;
    @media #{$small-and-down} {
      margin-top: 5px;
    }
  }
  .field--field-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding-top: 15px;
    font-family: Montserrat;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 30px;
      font-weight: 700;
    }
    @media #{$small-and-down} {
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
    }
  }
  .field--field-subtitle {
    color: $white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 17px;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 17px;
      width: 328px;
    }
    @media #{$small-and-down} {
      font-size: 9px;
      font-weight: 400;
      line-height: 11px;
      width: 160px;
    }
  }
  .js-form-wrapper {
    margin-top: 2px;
    @media #{$small-and-down} {
      margin-top: 1px;
    }
    .js-form-item {
      input {
        height: 24px;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 17px;
        @media #{$small-and-down} {
          height: 12px;
          font-size: 9px;
          font-weight: 400;
          letter-spacing: 0.19px;
          line-height: 11px;
        }
      }
    }
  }
  .field--widget-string-textarea {
    .js-form-type-textarea {
      textarea {
        background: white;
        border-radius: 2px;
        height: 112px;
        padding: 8px;
        border-color: transparent;
        @media #{$small-and-down} {
          height: 67px;
          padding: 5px;
        }
      }
    }
  }
  .form-actions {
    margin-top: 14px;
    padding-bottom: 18px;
    text-align: right;
    input {
      color: black;
      background-color: white;
      border-radius: 5px;
      width: 140px;
      height: 45px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.06px;
      line-height: 23.22px;
      @media #{$small-and-down} {
        height: 24px;
        width: 66px;
        font-size: 9px;
        letter-spacing: 0.03px;
        line-height: 13.22px;
        border-radius: 1px;
      }
    }
  }
}

.region--footer-first {
  height: 263px;
  margin-top: 50px;
  @media #{$medium-and-down} {
    height: 360px;
  }
  @media #{$small-and-down} {
    height: 256px;
  }
}
