.overview-block {
  min-height: 300px;
  max-width: calc(100% - 100px);
  margin: auto;
  @media #{$medium-and-down} {
    max-width: 100%;
    min-height: auto;
  }
  @media #{$small-and-down} {
    max-width: 100%;
    min-height: auto;
  }
  .right {
    @media #{$medium-and-down} {
      float: none !important;
    }
  }
  .left {
    @media #{$medium-and-down} {
      float: none !important;
    }
  }
  .contact_redirect {
    font-weight: 700;
    color: white;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 3px;
    border-radius: 1px;
    text-transform: none;
    height: auto;
    background: linear-gradient(80deg, #dd5a6c 20%, #5c2ac9 100%);
  }
  .overview-details {
    min-height: inherit;
    @media #{$medium-and-down} {
      margin-bottom: 6px;
    }
    .content {
      .overview-description {
        p {
          margin-top: 7px;
          @media #{$medium-and-down} {
            margin-top: 0px;
            margin-bottom: 9px;
          }
          @media #{$small-and-down} {
            margin-top: 0px;
          }
        }
      }
    }
  }
  .overview-title-up {
    @media #{$medium-and-down} {
      margin-bottom: 30px;
      padding-top: 30px;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
    }
    @media #{$small-and-down} {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  .overview-image {
    position: relative;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      position: static;
      text-align: center;
      float: none !important;
      >img {
        display: none;
      }
    }
    .image {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% - 100px);
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      margin: auto;
      @media #{$medium-and-down} {
        padding: 0;
      }
      &.none {
        @include translate(0, -50%);
        top: 50%;
        @media #{$medium-and-down} {
          @include translate(0, 0);
          top: 0;
        }
      }
      img {
        max-width: 100%;
        height: auto;
        @include scale(1.2);
        #block-hs247support & {
          @include scale(1.5);
        }
        .disable-scale & {
          @include scale();
        }
        @media #{$medium-and-down} {
          @include scale(1);
          #block-hs247support & {
            @include scale(1);
            margin-top: 20px;
            margin-bottom: -100px;
          }
        }
        @media #{$small-and-down} {
          #block-hs247support & {
            margin-bottom: -60px;
          }
        }
      }
      @media #{$medium-and-down} {
        // styles for medium screens and down
        width: 100%;
        position: static;
        -webkit-transform: none;
        transform: none;
        float: none !important;
      }
    }
  }
  .top {
    top: -200px;
    @media #{$medium-and-down} {
      top: auto;
    }
  }
  .bottom {
    bottom: -50px;
    @media #{$medium-and-down} {
      bottom: auto;
    }
  }
  .overview-content {
    white-space: nowrap;
    min-height: inherit;
    @media #{$medium-and-down} {
      float: none !important;
      white-space: normal;
      margin-bottom: 8px;
    }
    @media #{$small-and-down} {
      margin-bottom: 8px;
      margin-top: 15px;
    }
    .content {
      display: inline-block;
      white-space: normal;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: justify;
      .content-valign-top & {
        vertical-align: top;
      }
      .content-valign-bottom & {
        vertical-align: bottom;
      }
      .content-valign-middle & {
        vertical-align: middle;
      }
      @media #{$medium-and-down} {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .overview-title {
        font-weight: 700;
        font-size: 24px;
        @media #{$medium-and-down} {
          font-size: 18px;
          text-align: center;
        }
        @media #{$small-and-down} {
          font-size: 15px;
        }
      }
      .overview-description {
        font-size: 16px;
        line-height: 28px;
        @media #{$medium-and-down} {
          text-align: justify;
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      min-height: inherit;
    }
  }
  &::after {
    content: " ";
    display: block;
    clear: both;
  }
  ul {
    &.what_you_get_hook_support {
      padding-left: 50px;
       li {
        margin-bottom: 10px;
        font-size: 18px;
        i {
          float: left;
        }
        span {
          padding-left: 10px;
        }
      }
    }
  }
}