{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
		'row'
  ]
%}

{% if content.field_width['0']['#markup'] == '100' %}
  {% set width = 'col l12' %}
	{% set width1 = 'col l12' %}
{% elseif content.field_width['0']['#markup'] == '50' %}
  {% set width = 'col l6' %}
	{% set width1 = 'col l6' %}
{% elseif content.field_width['0']['#markup'] == '70' %}
  {% set width = 'col l8' %}
	{% set width1 = 'col l4' %}
{% else %}
  {% set width = 'col l4' %}
	{% set width1 = 'col l8' %}
{% endif %}

{% if width == 'col l12' %}
  {% set text_position = 'center-align'  %}
{% endif %}

{% if content.field_alignment['0']['#markup'] == 'left' %}
  {% set direction = 'left' %}
	{% set direction1 = 'right' %}
{% elseif content.field_alignment['0']['#markup'] == 'right' %}
  {% set direction = 'right' %}
	{% set direction1 = 'left' %}
{% else %}
  {% set direction = 'left' %}
	{% set direction1 = 'right' %}
{% endif %}
  {% set align = direction1 ~ '-align' %}

{% if content.field_color.0 == NULL %}
  {% set color = '#ffffff' %}
{% else %}
  {% set color = content.field_color.0 %}
{% endif %}

{% if content.field_color_to.0 == NULL %}
 {% set color1 = '#ffffff' %}
{% else %}
  {% set color1 = content.field_color_to.0 %}
{% endif %}

{% if content.field_text_color.0['#context']['value'] == NULL %}
 {% set textcolor = '#000000' %}
{% else %}
  {% set textcolor = content.field_text_color.0['#context']['value'] %}
{% endif %}

{% if content.field_position.0['#markup'] == NULL %}
  {% set class = 'none' %}
{% elseif content.field_position.0['#markup'] == 'top' %}
 {% set class = 'top' %}
{% else %}
 {% set class = 'bottom' %}
{% endif %}

{% if content.field_image['0']['#markup'] == NULL %}
 {% set image = '0' %}
 {% set fullwidth = 'col l12' %}
{% else %}
  {% set image = '1' %}
  {% set fullwidth = '' %}
{% endif %}
{% if content.field_enable_image_scale|field_value[0]['#markup'] == "0" %}
  {% set classes = classes|merge(['disable-scale']) %}
{% endif %}

{% if content.field_vertical_align_content.0['#markup'] == NULL %}
  {% set classes = classes|merge(['content-valign-middle']) %}
{% else %}
{% set vClass = 'content-valign-' ~ content.field_vertical_align_content.0['#markup']|clean_class %}
 {% set classes = classes|merge([vClass]) %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }} style="background: linear-gradient(180deg, {{ color }} 0%, {{ color1 }} 100%);">
    {% block content %}
      <div class="overview-block">
        <div class="overview-title-up show-on-medium-and-down hide-on-large-only" style="color: {{textcolor}}">
          {{ content.field_title }}
        </div>
        {% if image == '0' %}
          <div class="overview-details {{fullwidth}}">
            <div class="overview-content {{width}} {{direction1}} {{align}} {{ text_position }}">
              <div class="content" style="color: {{textcolor}}">
                <div class="overview-title hide-on-med-and-down">
                  {{ content.field_title }}
                </div>
                  <div class="overview-description">
                  {{ content.field_description }}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="overview-image {{width}} {{direction}}">
          <img src="{{ content.field_image['0']['#markup'] }}" class="responsive-img" style="visibility: hidden;opacity:0;display:none;" alt="{{ content.field_image['0']['#markup'] }}">
            <div class="image {{class}}">
              <img src="{{ content.field_image['0']['#markup'] }}" alt="{{ content.field_image['0']['#markup'] }}">
            </div>
          </div>
          <div class="overview-content {{width1}} {{direction1}} {{align}}">
            <div class="content" style="color: {{textcolor}}">
              <div class="overview-title hide-on-med-and-down">
                {{ content.field_title }}
              </div>
                <div class="overview-description">
                {{ content.field_description }}
              </div>
            </div>
				  </div>
        {% endif %}
			</div>
    {% endblock %}
  </div>
{% endblock paragraph %}
