.services-banner {
  white-space: nowrap;
  height: 300px;
  position: relative;
  overflow: hidden;

  &::after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
  }

  .paragraph--type--banner {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    white-space: normal;

    @media #{$small-and-down} {
      width: 100%;
    }
  }

  .banner-caption {
    width: 100%;

    .field--field-title {
      font-size: 40px;
      white-space: normal;
      padding-right: 5%;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      @media #{$small-and-down} {
        font-size: 20px;
        width: 100%;
      }
    }
  }

  .align-left {
    text-align: left;
    margin-left: 8%;

    @media #{$small-and-down} {
      text-align: center;
      margin-left: 0;
    }
  }

  .align-right {
    text-align: right;
    margin-right: 8%;

    @media #{$small-and-down} {
      text-align: center;
      margin-left: 0;
    }
  }
}

.services-banner-overlay {
  height: inherit;
}
