.block--type-partners {
  text-align: center;
  @media #{$large-and-up} {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @media #{$medium-and-up} {
    margin-top: 55px;
    margin-bottom: 50px;
  }
  @media #{$medium-and-down} {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media #{$small-and-down} {
    margin-top: 10px;
    margin-bottom: 1px;
  }
}

.field.field--field-partner {
  margin-top: 45px;
  > div {
    float: left;
    width: 20%;
    cursor: pointer;
    @media #{$medium-and-down} {
      width: 100%;
    }
  }
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.partners {
  //@include filter(grayscale, 100%);
  &:hover {
    //@include filter(grayscale, 0%);
  }
  margin-top: 20px;
  margin-bottom: 0px;
  .field.field--field-image {
    min-height: 137px;
    @media #{$medium-and-down} {
      min-height: initial;
    }
  }
  > div {
    img {
      width: 40%;
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
      padding-bottom: 6%;
    }
    .field--field-title {
      margin: 0 auto;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.78px;
      line-height: 17px;
      opacity: 0.740625;
      /* Drupal icons alignment bug fix */
      padding: 0px 15px;
      @media #{$medium-and-down} {
        font-size: small;
        line-height: 125%;
      }
      @media #{$small-and-down} {
        font-size: small;
        line-height: 125%;
      }
    }
  }
}

#block-ourpartnershipshomepage {
  float: left;
  background: #c850c0;
  padding-bottom: 40px;
  h2 {
    color: #fff;
    &:before, &:after {
      background-color: #fff;
    }
  }
  .field--field-title {
    color: #fff;
  }
}
