.block--type-our-locations {
  padding-top: 25px;
  padding-bottom: 75px;
  padding-left: 73px;
  padding-right: 73px;
  color: $white;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .field--field-tiltle {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .world_map {
    display: inline-block;

    img {
      max-width: 100%;
      height: auto;
    }

    .world_map_title {
      position: relative;
      color: $white;
      font-size: 15px;
      font-weight: 800;
      line-height: 20px;
      opacity: 0.7618303571428572;
      padding-left: 40px;
      font-family: Montserrat;

      @media #{$medium-and-down} {
        padding-left: 0px;
      }

      @media #{$small-and-down} {
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        padding-left: 0px;
        margin: 15px;
      }
    }

    .world_map__wrap {
      position: relative;
    }

    .world-map-list-wrap {
      margin-top: 60px;
      text-align: center;

      @media #{$medium-and-down} {
        margin-top: 2px;
        text-align: left;
        white-space: nowrap;
      }

      @media #{$small-and-down} {
        margin-top: 0px;
        text-align: center;
        white-space: normal;
      }

      ul {
        margin-bottom: 0;

        @media #{$small-and-down} {
          &:after {
            content: "";
            display: inline-block;
            background-color: #979797;
            opacity: 0.3061941964285714;
            width: 100%;
            height: 3px;
          }
        }

        li {
          display: inline-block;
          position: relative;
          padding-left: 5px;
          padding-right: 5px;
          text-transform: uppercase;
          color: #FFFFFF;
          font-family: Montserrat;
          font-size: 13px;
          font-weight: 700;
          line-height: 20px;
          opacity: 0.7618303571428572;

          @media #{$medium-and-down} {
            font-size: 12px;
          }

          @media #{$small-and-down} {
            font-size: 10px;
            text-align: center;
          }

          a {
            color: #FFFFFF;
          }

          a:hover {
            color: #1878cc;
          }

          &:not(:last-of-type) {
            &::after {
              content: " | ";
              position: absolute;
              right: -5px;
            }
          }
        }
      }
    }
  }
}
