{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  label ? 'block--label-' ~ label|clean_class,
  plugin_id ? 'block--id-' ~ plugin_id|clean_class,
  block_type_name ? 'block--type-' ~ block_type_name|clean_class
] %}
{% if class %}
  {% set classes = classes|merge(class) %}
{% endif %}
{% if clear_before %}
<div class="clearfix"></div>
{% endif %}
<div{{ attributes.addClass(classes) }}>  
  {% block content %}
    <div class="world_map">
      <div class="world_map_title" >{{ content.field_tiltle }}</div>
      <div class="world_map__wrap">
        <img src="/themes/custom/zyxpro_light/images/world_map.png" alt="World Map - Zyxware" />
        {{ content|without('field_tiltle') }}
      </div>
      <div class="world-map-list-wrap" >
        <ul>
          <li><a href="/our-offices">India</a></li>
          <li><a href="/our-offices">United States</a></li>
          <li><a href="/our-offices">Australia</a></li>
        </ul>
      </div>
    </div>
  {% endblock %}
</div>
{% if clear_after %}
<div class="clearfix"></div>
{% endif %}
