#zyx-banner {
  body:not(.path-frontpage) {
    height: calc(80vh - 65px) !important;
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down
    min-height: 300px;
    // height: auto !important;
  }
  .carousel-item {
    min-height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .slide-control {
    display: none;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      display: block;
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      color: white;
      outline: none;
      cursor: pointer;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      display: block;
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      color: white;
      outline: none;
      cursor: pointer;
    }
    &.left {
      left: 0;
      @media #{$medium-and-down} {
        left: 25px;
        img {
          width: 15px;
          height: 22px;
        }
      }
      @media #{$small-and-down} {
        left: 10px;
      }
    }
    &.right {
      right: 0;
      @media #{$medium-and-down} {
        right: 25px;
        img {
          width: 15px;
          height: 22px;
        }
      }
      @media #{$small-and-down} {
        right: 10px;
      }
    }
  }
  .indicators {
    bottom: -20px;
    display: block;
    .indicator-item {
      height: 12px;
      width: 12px;
      margin: 24px 6px;
    }
    @media #{$medium-and-down} {
      // styles for medium screens and down
      display: none;
      bottom: 0px;
    }
    @media #{$small-and-down} {
      // styles for medium screens and down
      display: none;
      bottom: 0px;
    }
  }
  .the_image_more {
    display: none;
  }
  &.version2 {
    .paragraph--type--slider-item {
      .banner-image {
        .banner-details {
          background: #fff;
          color: #000;
          padding: 25px 30px;
          max-width: 800px;
          position: absolute;
          right: 5%;
          bottom: 20px;
          @media #{$small-and-down} {
            right: 0;
            left: 0;
          }
        }
      }
    }
    .slide-control {
      display: none;
    }
    .indicators {
      display: none !important;
    }
    .the_image_more {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 5px;
    }
    .the_text_more {
      display: none;
    }
    .banner_image_link {
      width: 35px;
      height: 35px;
        @media #{$small-and-down} {
          width: 25px;
          height: 25px;
        }
    }
  }
}

body.path-frontpage {
  #zyx-banner {
    height: calc(100vh - 75px) !important;
    min-height: 556px;
    @media #{$small-and-down} {
      // styles for medium screens and down
      min-height: 425px;
      // height: auto !important;
    }
    .indicators {
      bottom: 15px;
      display: block;
      @media #{$medium-and-down} {
        // styles for medium screens and down
        display: none;
        bottom: 0px;
      }
      @media #{$small-and-down} {
        // styles for medium screens and down
        display: none;
        bottom: 0px;
      }
    }
  }
}
