{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set classes = [
  'field',
  'field--' ~ field_name|clean_class
] %}


<div{{ attributes.addClass(classes) }}>
  {% set carouselClass = 'carousel' %} 
  {% if items|length == 1 %}
    {% set carouselClass = 'carousel-single' %}
  {% endif %}
  <div id="zyx-banner" class="{{carouselClass }} carousel-slider {{ slider_cls }}">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in items %}
        {% set itemClass = 'carousel-item' %}
        <div class="{{ itemClass }}" >{{ item.content }}</div>
      {% endfor %}
    </div>
    {# If slider contains single image then don't apply arrows to it. #}
    {% if items|length > 1 %}
      <a class="left slide-control" onclick="leftslide(this)" >
        <img src="/themes/custom/zyxpro_light/images/icons/arrow-left.png" alt="Previous">
      </a>
      <a class="right slide-control" onclick="rightslide(this)" >
        <img src="/themes/custom/zyxpro_light/images/icons/arrow-right.png" alt="Next">
      </a>
    {% endif %}
  </div>
</div>
