.block--type-testimonial-block {
  background-color: $porcelain;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 45px;
  @include medium {
    padding-top: 15px;
    padding-bottom: 28px;
  }
  >h2 {
    @include blockTitle();
    margin-bottom: 45px;
    @include medium {
      margin-bottom: 15px;
    }
  }
  .carousel {
    .slide-control {
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      color: $black;
      outline: none;
      cursor: pointer;
      &.left {
        left: 0;
        @include medium {
          left: 20px;
        }
      }
      &.right {
        right: 0;
        @include medium {
          right: 20px;
        }
      }
    }
  }
}
