.stewards-details-wrapper {
  padding-left: 70px;
  padding-right: 75px;
  padding-top: 75px;
  @media #{$medium-and-down} {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    .left {
      float: none !important;
    }
    .right {
      float: none !important;
    }
  }
  @media #{$small-and-down} {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }
  .stewards-section1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    @media #{$medium-and-down} {
      border-bottom: none;
      margin-bottom: -30px;
      padding-bottom: 0px;
    }
  }
  .stewards-image {
    @media #{$medium-and-down} {
      margin: auto 0;
      text-align: center;
    }
    img {
      border: 1px solid #2980b9;
      margin-bottom: 0;
      margin-right: 0;
      padding: 10px;
      background: #fff;
      max-width: 100%;
      height: auto;
      float: right;
      @media #{$medium-and-down} {
        float: none;
      }
    }
  }
  .stewards-title {
    font-size: large;
    position: relative;
    letter-spacing: -1px;
    text-align: center;
    color: #39A5EE;
    padding: 20px;
    background-color: #EAEAEA;
    top: 70px;
    z-index: -999;
    @media #{$medium-and-down} {
      font-size: large;
      padding-top: 40px;
      top: -40px;
    }
    @media #{$small-and-down} {
      font-size: 120%;
    }
  }
  .field--body {
    font-weight: 400;
    font-size: 100%;
    line-height: 180%;
    @media #{$medium-and-down} {
      font-size: 100%;
    }
    @media #{$small-and-down} {
      font-size: 100%;
    }
  }
}
