.descriptive-custom-block {
  padding-top: 60px;
  padding-bottom: 60px;
  //margin-bottom: 20px;
  @media #{$medium-and-down} {
    padding-top: 25px;
    padding-bottom: 25px;
    // margin-bottom: 20px;
  }
  @media #{$small-and-down} {
    // margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
