.learn-more {
  width: 25%;
  color: #ffffff;
  margin-left: 7.5px;
  margin-right: 7.5px;
  @media #{$medium-and-down} {
    width: 75%;
  }
  @media #{$small-and-down} {
    margin: 10px auto;
    text-align: center;
  }
  a {
    color: #ffffff;
  }
  >div {
    position: relative;
    height: 246px;
    border-radius: 2px;
    @media #{$medium-and-down} {
      height: 120px;
    }
    @media #{$small-and-down} {
      height: 76px;
    }
    .field--field-contents {
      position: absolute;
      top: 40%;
      padding-bottom: 15px;
      font-weight: 700;
      font-size: 20px;
      padding-left: 20px;
      &::after {
        border-top: 1px solid #cfd1d3;
        content: "";
        width: 100%;
        display: block;
        margin-top: 13px;
      }
      @media #{$medium-and-down} {
        width: 100px;
        left: 0;
        padding: 7px;
        font-size: 11px;
        margin: 0px;
        &::after {
          border-top: 1px solid #cfd1d3;
          content: "";
          width: 100%;
          display: block;
          float: none;
        }
      }
      @media #{$small-and-down} {
        width: 90%;
        padding: 7px;
        font-size: 7px;
        &::after {
          border-top: none;
          margin-top: 0px;
        }
        &::before {
          border-top: 1px solid #cfd1d3;
          content: "";
          width: 90%;
          display: block;
          padding-bottom: 2px;
          margin-bottom: 4px;
        }
      }
    }
    &.zyxpro_purple {
      background: linear-gradient(0deg, #3023ae 0%, #7042bf 100%);
    }
    &.zyxpro_blue {
      background: linear-gradient(180deg, #17cec4 0%, #08aeea 100%);
    }
    &.zyxpro_orange {
      background: linear-gradient(180deg, #ff8308 0%, #fd4f00 100%);
    }
    &.zyxpro_pink {
      background: linear-gradient(180deg, #ed629a 0%, #c850c0 100%);
    }
    &.zyxpro_default {
      background-color: #eeeeee;
    }
  }
  .field--field-title {
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    @media #{$medium-and-down} {
      padding: small;
      font-size: 12px;
    }
    @media #{$small-and-down} {
      font-size: small;
    }
  }
}

.page-node-2425 {
  .learn-more {
    .field--field-title {
      font-size: 14px;
      @media #{$medium-and-down} {
        font-size: 12px;
      }
      @media #{$small-and-down} {
        font-size: small;
      }
    }
  }
}
