.paragraph--type--descriptive-block.row {
  &:after {
    content: none;
  }
}

.descriptive-block {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  color: $white;

  .descriptive-title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    clear: both;
    line-height: 1;

    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 18px;
    }
  }

  .descriptive-subtitle {
    font-size: 18px;
    font-style: italic;
    line-height: 1;
    padding-top: 5px;

    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 16px;
    }
  }

  .descriptive-pre-description,
  .descriptive-post-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 30px;

    .round-block .anchor-item .field--field-link>a {
      font-size: 14px;
      color: white;
      font-weight: 500;
      line-height: 25px;
    }

    .square-block {
      border: solid;
      font-size: 13px;
      font-weight: 600;
      border-radius: 1px;
      text-transform: none;
      height: auto;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;
    }

    ul.square-block-ul {
      padding-left: 30px;
    }

    ul.square-block-ul li {
      list-style-type: disc;
      text-align: left;
      line-height: 25px;
      text-indent: 0px;
    }

    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: 14px;
    }
  }

  .descriptive-post-description {
    margin-bottom: 0px;
  }

  .descriptive-rounds {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .descriptive-image {
    margin-top: 25px;

    @media #{$medium-and-down} {
      // styles for medium screens and down
      margin-top: 15px;
    }

    @media #{$small-and-down} {
      // styles for small screens and down
      margin-top: 10px;
    }

    .images {
      &>div {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;

        @media #{$medium-and-down} {
          // styles for medium screens and down
          margin-bottom: 15px;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .one-image {
      img {
        max-width: 100%;
        height: auto;
      }

      @media #{$medium-and-down} {
        // styles for medium screens and down
        margin-bottom: 15px;
      }

      @media #{$small-and-down} {
        // styles for small screens and down
        margin-bottom: 10px;
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.descriptive-rounds {
  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .rounds {
    @extend .m12;
    @extend .s12;

    @media #{$medium-and-down} {
      width: 223px;
      height: auto;
      margin: auto;
    }
  }
}
