{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% if content.field_descriptive_images['#items']|length >= 3 %}
    {% set col = 12 // content.field_descriptive_images['#items']|length %}
    {% set count = content.field_descriptive_images['#items']|length - 1 %}
{% elseif content.field_descriptive_images['#items']|length == '2' %}
    {% set col = 12 // content.field_descriptive_images['#items']|length %}
    {% set count = content.field_descriptive_images['#items']|length - 1 %}
{% else %}
    {% set count = 0 %}
{% endif %}

{% if content.field_descriptive_rounds['#items']|length >= 3 %}
    {% set coltxt = 12 // content.field_descriptive_rounds['#items']|length %}
    {% set counttxt = content.field_descriptive_rounds['#items']|length - 1 %}
{% elseif content.field_descriptive_rounds['#items']|length == '2' %}
    {% set coltxt = 12 // content.field_descriptive_rounds['#items']|length %}
    {% set counttxt = content.field_descriptive_rounds['#items']|length - 1 %}
{% else %}
    {% set counttxt = 0 %}
{% endif %}


{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'row'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="descriptive-block">
        <div class="descriptive-details">
          <div class="descriptive-title">
            {{ content.field_title }}
          </div>
           <div class="descriptive-subtitle">
            {{ content.field_sub_title }}
          </div>
          {% if content.field_pre_description|length > 2 %}
          <div class="descriptive-pre-description">
            {{ content.field_pre_description }}
          </div>
          {% endif %}
          {% if content.field_descriptive_images['0']['#markup'] %}
            <div class="descriptive-image">
              {% if count >= '1' %}
                {% for i in 0..count %}
                  <div class="images">
                    <div class=" col l{{ col }}">
                      <img src="{{ content.field_descriptive_images[i]['#markup'] }}" alt="{{ content.field_descriptive_images[i]['#markup'] }}">
                    </div>
                  </div>
                {% endfor %}
              {% elseif count == '0' %}
                <div class="one-image">
                  <img src="{{ content.field_descriptive_images['0']['#markup'] }}" alt="{{ content.field_descriptive_images['0']['#markup'] }}">
                </div>
              {% endif %}
            </div>
            {% endif %}
          <div class="descriptive-rounds">
          {% if counttxt >= '1' %}
              {% for i in 0..counttxt %}
                <div class="rounds">
                  <div class=" col l{{ coltxt }}">
                    {{ content.field_descriptive_rounds[i] }}
                  </div>
                </div>
              {% endfor %}
            {% elseif counttxt == '0' %}
              <div class="one-round">
                {{ content.field_descriptive_rounds }}
              </div>
            {% else %}

            {% endif %}
          </div>
          {% if content.field_post_description|length > 2 %}
          <div class="descriptive-post-description">
            {{ content.field_post_description }}
          </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
