 .social-media {
   li {
     margin-left: 15px;
     @include medium {
       margin-left: 0px;
     }
     a {
       font-size: 17px;
       text-decoration: none;
       @include transition(color, ease, 0.5s);
       @include medium {
         font-size: 12px;
       }
       &:hover {
         color: $primary;
       }
     }
   }
 }
