.block {
  &.block--type-portfolio {
    >h2 {
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .portfolio-custom-block {
      padding-bottom: 40px;
    }
  }
}

#zyx-portfolio {
  .slick-dots {
    text-align: center;
    margin-bottom: 0;
    &>li {
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
      vertical-align: bottom;
      height: 11px;
      button {
        border-radius: 100%;
        color: transparent;
        width: 11px;
        height: 11px;
        border: 1px solid grey;
        background: white;
        padding: 0;
        cursor: pointer;
      }
    }
    .slick-active {
      button {
        background: grey;
        border-color: white;
      }
    }
  }
}
