.block--type-say-hello {
  @extend .col-sm-6;
  @extend .col-lg-5;
  position: relative;
  background-image: url('../../images/footer-bg/cs-bg.jpg');
  z-index: 0;
  padding-top: 25px;
  padding-bottom: 75px;
  background-position: center center;
  background-size: cover;
  @include medium {
    padding-bottom: 20px;
  }
  &::before {
    content: '';
    background-color: rgba(153, 51, 153, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .say-hello-block-wrap {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include small-large {
      max-width: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
    .block-title {
      @include blockTitle();
      color: $white;
      margin-bottom: 42px;
      @include medium {
        margin-bottom: 15px;
        margin-top: 0px;
      }
    }
    form {
      .form-item {
        color: $white;
        textarea,
        input {
          width: 100%;
          background-color: transparent;
          border: 1px solid $white;
          color: $white;
          @include placeholder($white);
          padding: 14.5px 10px;
          max-height: 115px;
        }
        &.zyxpro-noInputWrap {
          padding: 14.5px 10px;
          max-height: 115px;
          border: 1px solid $white;
          margin-bottom: 10px;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          background-color: rgba(255, 255, 255, 0.5);
          label {
            display: none;
          }
        }
      }
      input[type="submit"] {
        @extend .btn-def--white;
      }
    }
  }
}
