#zyxTestimonial {
  position: relative;
  min-height: 235px;
  @media #{$small-and-down} {
    // styles for medium screens and down
    min-height: 235px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media #{$small-and-down} {
    // styles for medium screens and down
    // min-height: 135px;
    padding-left: 0px;
    padding-right: 0px;
  }
  * {
    outline: none;
    &:focus {
      outline: none;
    }
  }
}

.zyxProLight_slickSlide-inner,
.slick-list,
.slick-track,
.testimonial > .testimonial_quote,
.testimonial > .person-details {
  min-height: 288px;

  @media #{$small-and-down} {
    min-height: 315px;
  }
}

.block--type-testimonial-block {
  > h2 {
    @include medium {
      margin-bottom: 15px;
    }
  }
  #zyxTestimonial .testimonial {
    display: flex;
  }
  #zyxTestimonial {
    .slide-control {
      position: absolute;
      font-size: 55px;
      height: 55px;
      line-height: 55px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      color: white;
      outline: none;
      cursor: pointer;
      z-index: 1;
      &.left {
        left: 30px;
        img {
          width: 22px;
          height: auto;
        }
        @media #{$medium-and-down} {
          left: 20px;
          img {
            width: 15px;
          }
        }
        @media #{$small-and-down} {
          left: 15px;
          img {
            width: 15px;
          }
        }
      }
      &.right {
        right: 30px;
        img {
          width: 22px;
          height: auto;
        }
        @media #{$medium-and-down} {
          right: 20px;
          img {
            width: 15px;
          }
        }
        @media #{$small-and-down} {
          right: 15px;
          img {
            width: 15px;
          }
        }
      }
      .material-icons {
        @extend .medium;
      }
    }
    .carousel-item {
      @media #{$small-and-down} {
        line-height: 22px;
      }
    }
    .indicators {
      bottom: -27px;
      display: none;
    }
  }
}
