.region--content-bottom {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
#sliding-popup.sliding-popup-bottom {
  background: $primary;
  border-top: 1px solid $white;
  padding: 10px 0;
  font-family: "Exo";
  font-weight: 400;
}