.zyxpro-slide-item {
  min-height: 600px;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  @include medium {
    height: auto;
    min-height: 325px;
  }
  @include small-large {
    min-height: 305px;
  }
  &--position- {
    &right {
      text-align: right;
    }
    &center {
      text-align: center;
    }
    &left {
      text-align: left;
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .valign-middle {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      max-width: 58.33333%;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      @include medium {
        max-width: 70%;
      }
      @include small-large {
        max-width: 100%;
      }
    }
    .field--field-title {
      font-family: 'Exo', sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: #000;
      line-height: 50px;
      @include medium {
        font-size: 28px;
        line-height: 30px;
      }
    }
    .field--field-description {
      font-size: 20px;
      font-family: "Merriweather";
      font-weight: 300;
      color: $black;
      line-height: 32px;
      letter-spacing: 0px;
      margin-bottom: 20px;
      @include medium {
        font-size: 16px;
        line-height: 28px;
      }
      @include small-large {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .field--field-link {
      margin-top: 25px;
      margin-bottom: 15px;
      a {
        background-color: $perssian_green;
        border: 1px solid $perssian_green;
        color: $white;
        display: inline-block;
        font-family: 'Exo', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 10px 15px;
        line-height: 20px;
        text-decoration: none;
        @include transition(background-color, ease, 0.2s);
        @include medium {
          font-size: 14px;
        }
        &::after {
          content: '';
          background-image: url(#{$img_path}arrow_sprite.png);
          width: 25px;
          height: 8px;
          display: inline-block;
          background-position: left top;
          background-repeat: no-repeat;
          background-size: 100% auto;
          margin-left: 15px;
          position: relative;
          top: -2px;
          @include medium {
            width: 20px;
            height: 7px;
            margin-left: 10px;
          }
        }
        &:hover {
          background-color: $white;
          color: $perssian_green;
          &::after {
            background-position: left calc(100% + 1px);
          }
        }        
      }
    }
  }  
  &--video {
    width: 100%;
    min-height: 600px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .video_wrapper {
      width: 100%;
      min-height: 100%;
      position: absolute;
      left: 0px;
      /* center vertically */
      top: 50%;
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      &::before {
        content: "";
        display: block;
        height: 0px;
        padding-bottom: 56.25%;
        /* 100% * 9 / 16 */
      }
      video {
        width: auto;
        height: 100% !important;
        position: absolute;
        top: 0px;
        /* center horizontally */
        left: 50%;
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
      }
    }
  }
}
