.row {
  .zyx_card {
    padding-right: 30px;
    padding-left: 30px;
    @media #{$medium-and-down} {
      padding-right: 10px;
      padding-left: 10px;
    }
    @media #{$small-and-down} {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

.zyx_card {
  @extend .col;
  @extend .m4;
  @extend .s12;
  @extend .l4;
  color: #ffffff;
  height: auto;
  margin-bottom: 25px;
  .card-image {
    height: inherit;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    @media #{$medium-and-down} {
      // Including spacing for content
      padding: 0px 10px;
    }
  }
  .field--field-title {
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 17px;
    min-height: 60px;

    @media screen and (min-width: 991px) {
      padding-left: 7px;
      padding-right: 7px;
    }
    @media #{$medium-and-down} {
      font-size: 11px;
      padding-top: 20px;
      letter-spacing: 1px;
      body.page-node-5796 & {
        min-height: 75px;
      }
    }
    @media #{$small-and-down} {
      font-size: 14px;
      padding-top: 30px;
    }
  }
  .zyx_price {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    height: 61px;
    @media #{$medium-and-down} {
      padding-bottom: 30px;
      padding-top: 30px;
      height: 31px;
    }
    @media #{$small-and-down} {
      padding-bottom: 35px;
      padding-top: 30px;
      height: 46px;
    }
  }
  .field--field-price {
    font-size: 36px;
    padding-right: 20px;
    position: relative;
    top: -8px;
    font-weight: 500;
    letter-spacing: 6.86px;
    line-height: 43px;
    @media #{$medium-and-down} {
      padding-right: 15px;
      font-size: 30px;
      top: -11px;
      letter-spacing: 0px;
      line-height: 43px;
    }
    @media #{$small-and-down} {
      padding-right: 15px;
      font-size: 36px;
      top: -7px;
    }
  }
  .currency {
    font-size: 22px;
    padding-right: 5px;
    font-weight: 600;
    @media #{$medium-and-down} {
      font-size: 18px;
      padding-right: 5px;
    }
    @media #{$small-and-down} {
      padding-right: 8px;
      font-size: 25px;
    }
  }
  .field--field-period {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 17px;
    text-transform: lowercase;
    position: relative;
    top: 5px;
    @media #{$medium-and-down} {
      font-size: small;
      letter-spacing: 1px;
    }
  }
  ul {
    >li {
      &::before {
        content: ".";
        padding-right: 23px;
        @media #{$medium-and-down} {
          padding-right: 8px;
        }
        @media #{$small-and-down} {
          padding-right: 18px;
        }
      }
    }
  }
  .card-link {
    a {
      @extend .waves-effect;
      @extend .btn;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      font-weight: 800;
      box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.12), 0 0px 3px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      display: block;
      background-color: #fff;
      color: #51b8fa;
      height: auto;
      line-height: normal;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      letter-spacing: 1px;
      line-height: 17px;
      font-size: 14px;
      border-top-color: black;
      &:hover {
        background-color: #eee;
      }
    }
  }
  .field--field-post-description {
    padding-bottom: 30px;
    line-height: 27px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    @media #{$medium-and-down} {
      padding-bottom: 2px;
      font-size: 9px;
      padding-left: 10px;
      padding-right: 10px;
      body:not(.page-node-5795):not(.page-node-5797):not(.page-node-5801) & {
        min-height: 525px;
      }
    }
    @media screen and (min-width: 650px) {
      body:not(.page-node-5795):not(.page-node-5801) & {
        min-height: 440px;
      }
      body.page-node-5797:not(.page-node-5801) &{
        min-height: 250px;
      }
    }
    @media screen and (min-width: 850px) {
      body:not(.page-node-5795):not(.page-node-5797):not(.page-node-5801) & {
        min-height: 330px;
      }
    }
    @media screen and (min-width: 991px) {
      body:not(.page-node-5795):not(.page-node-5797):not(.page-node-5801) & {
        min-height: 440px;
      }
    }
    @media screen and (min-width: 1200px) {
      body.page-node-5795:not(.page-node-5801) & {
        min-height: 224px;
      }
    }
    @media screen and (min-width: 1200px) {
      body:not(.page-node-5795):not(.page-node-5797):not(.page-node-5801) & {
        min-height: 375px;
      }
    }
    @media #{$small-and-down} {
      font-size: small;
      padding-bottom: 2px;
      padding-left: 15px;
      padding-right: 15px;
      body:not(.page-node-5795):not(.page-node-5797):not(.page-node-5801) & {
        min-height: 200px;
      }
    }
  }
}

.field--field-card {
  margin-top: 27px;
}
