{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set color = content.field_color|field_value[0]['#context']['value'] %}
{% set color_to = content.field_color_to|field_value[0]['#context']['value'] %}
{% set crncy = content.field_currency|field_value[0]['#markup'] %}
{% if crncy == 'Dollar' %}
  {% set currency = '&#36;' %}
{% elseif crncy == 'Rupee'  %}
  {% set currency = '&#8377;' %}
{% endif %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    background
  ]
%}

{% if clear_before %}
<div class="clearfix"></div>
{% endif %}
{% block paragraph %}
  <div class="zyx_card">
    <div{{ attributes.addClass(classes) }}>
      <div class="card-image" style="background:linear-gradient(134.72deg, {{ color }} 0%, {{ color_to }} 100%);">
        {% block content %}
          {{ content.field_title }}
          {% if content.field_price|render %}
            <div class="zyx_price">
              <div class="currency">
                {{ currency|raw }}
              </div>
              {{ content.field_price }}
              {{ content.field_period }}
            </div>
          {% endif %}
          {{ content.field_post_description }}
        {% endblock %}
      </div>
      {% if content.field_link|render %} 
        <div class="card-link">
          {{ content.field_link }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
{% if clear_after %}
<div class="clearfix"></div>
{% endif %}
