#insightly-fieldset-wrapper .col-source,
#mapping-fieldset-wrapper .col-source {
  float: left;
  width: 45%;
}

#insightly-fieldset-wrapper .col-target,
#mapping-fieldset-wrapper .col-target {
  float: left;
}

#insightly-fieldset-wrapper .col-remove,
#mapping-fieldset-wrapper .col-remove {
  float: right;
  margin-top: 30px;
  width: 10%;
}

#insightly-form ul.action-links a {
  padding-left: 15px;
  background: transparent url(../img/add.png) no-repeat 0 center;
  line-height: 30px;
}
