.aboutus-block-wrap {
  background-color: $primary;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  @include medium {
    white-space: normal;
  }
  .about-text-bg,
  .about-video-bg {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    float: none;
  }
  .about-text-bg {
    font-size: 18px;
    font-weight: 300;
    color: $white;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    @include medium {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 14px;
    }
    .field--field-about-us {
      font-size: 40px;
      font-family: "Exo";
      font-weight: 400;
      @include medium {
        font-size: 28px;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .field--body {
      line-height: 32px;
      margin-bottom: 40px;
      @include medium {
        line-height: normal;
        margin-bottom: 20px;
      }
    }
    .field--field-cta {
      font-family: "Exo";
      font-size: 20px;
      font-weight: 400;
      @include medium {
        font-size: 18px;
      }
    }
  }
  .about-video-bg {
    padding-right: 0;
    padding-left: 0;
    height: 100%;
    .field--field-video {
      display: inline-block;
      height: 100%;
      width: 100%;      
    }
    video {
      display: block;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}
