.vocabulary-tabs {
  @extend .row;
  width: 91%;
  padding-top: 30px;
  padding-bottom: 30px;
  @media #{$medium-and-down} {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    margin-top: 0 !important;
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-bottom: 30px !important;
    @media #{$medium-and-down} {
      line-height: 26px;
      height: 26px;
      margin-bottom: 0px !important;
      display: block;
    }
  }
  .vocabulary {
    display: inline-block;
    @media #{$medium-and-down} {
      display: block;
      text-align: center;
    }
  }
  .tabs {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 32px;
    margin-bottom: 20px;
    @media #{$medium-and-down} {
      margin-bottom: 8px;
      margin-top: 15px;
      height: auto;
      line-height: normal;
      margin-left: -6px;
      margin-right: -6px;
      white-space: normal;
    }
    .tab {
      line-height: 39px;
      height: 39px;
      margin: 0 6px;
      @media #{$medium-and-down} {
        line-height: 26px;
        height: 26px;
      }
      a {
        height: 100%;
        font-size: 11px;
        font-weight: 600;
        background: black;
        color: #4cc5aa;
        @media #{$medium-and-down} {
          font-size: 9px;
        }
      }
    }
    .indicator {
      display: none;
    }
  }
  .teaser-insights {
    @extend .col;
    @extend .l4;
    @extend .m6;
    @extend .s12;
    @media #{$medium-and-down} {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
  }
  #tab_all {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
