.field-rounds {
  width: 200px;
  height: 200px;
  margin: auto;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  @media #{$medium-and-down} {
    // styles for medium screens and down
    font-size: 14px;
  }
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .paragraph--type--descriptive-rounds {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
    &::after {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
    }
  }
  .field--field-text {
    padding: 8px;
  }
}

.fields {
  border-radius: 100%;
  width: 200px;
  height: auto;
  margin: auto;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .paragraph--type--descriptive-rounds {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
    &::after {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
    }
  }
}
