.portfolio {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  .portfolio-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .portfolio-subtitle {
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    @media #{$small-and-down} {
      margin-top: 10px;
    }
  }
  .portfolio-description {
    text-align: center;
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
#zyx-portfolio {
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
    height: auto !important;
  }
}
