.zyx-pro-slider {
  .region--header & {
    position: relative;
    @include medium {
      top: 80px;
      margin-bottom: 80px;
    }
    @include small-large {
      top: 70px;
      margin-bottom: 70px;
    }
  }
  .carousel-indicators {
    z-index: 1;
    li {
      border: 0px solid transparent;
      background-color: rgba($black, 0.7);
      width: 10px;
      height: 10px;
      margin: 0;
      &.active {
        background-color: $white;
        width: 9px;
        height: 9px;
        margin: 1px;
      }
    }
  }
}
