$primary: rgba(71, 71, 135, 1);
$white: #fff;
$black: #000;
$border: rgb(200, 200, 200);
$hamburger: rgb(153, 51, 153);
$perssian_green: rgb(0, 184, 148);
// Background color for grid overlay.
$grid-overlay: rgba(41, 128, 185, 0.8);
$grid-overlay-hover: rgba(64, 64, 122, 0.5);

$porcelain: rgb(236, 240, 241);

$silver-sand: rgb(189, 195, 199);

$mine-shaft: #333333;
$tundora: #464646;
$dusty-grey: #949494;