/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */

/////////
// Singularity variables
//
// @include breakpoint-set('to ems', true);
// Breakpoints variables
$x-small: xs;
$small: mobilePort;
$small-med: mobileLand;
$small-large: tabPort;
$medium: tabLand;
$medium-large: desktop;
$large: lg;
// Bootstrap Breakpoints.
@mixin breakpoint($point) {
  @if ($point==$large) {
    @media (min-width: 1200px) {
      @content
    }
  }
  @else if ($point==$medium-large) {
    @media (max-width: 1199px) {
      @content
    }
  }
  @else if ($point==$medium) {
    @media (max-width: 991px) {
      @content
    }
  }
  @else if ($point==$small-large) {
    @media (max-width: 767px) {
      @content
    }
  }
  @else if ($point==$small-med) {
    @media (max-width: 640px) {
      @content
    }
  }
  @else if ($point==$small) {
    @media (max-width: 480px) {
      @content
    }
  }
  @else if ($point==$x-small) {
    @media (max-width: 320px) {
      @content
    }
  }
}

//.class  {
//  @include breakpoint(xs) {
//    width: 60%;
//  }
//}
/// Mixin - Small Breakpoint
/// Allows easier @include small {} syntax
@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

/// Mixin - Small-Medium Breakpoint
/// Allows easier @include small-med {} syntax
@mixin small-med {
  @include breakpoint($small-med) {
    @content;
  }
}

/// Mixin - Small-Large Breakpoint
/// Allows easier @include small-large {} syntax
@mixin small-large {
  @include breakpoint($small-large) {
    @content;
  }
}

/// Mixin - Medium Breakpoint
/// Allows easier @include medium {} syntax
@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

/// Mixin - Large Breakpoint
/// Allows easier @include large {} syntax
@mixin medium-large {
  @include breakpoint($medium-large) {
    @content;
  }
}

/// Mixin - Large Breakpoint
/// Allows easier @include large {} syntax
@mixin large {
  @include breakpoint($large) {
    @content;
  }
}
