/// Mixin - Font-Size.
/// Adds px value for fallback - then rem value
/// use example =   @include font-size(1.6); = 1.6rem / 16px
@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
}

// Tansition
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// Tansition
@mixin transform($property) {
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

// Box Shadow
@mixin boxShadow($shadow, $color) {
  -webkit-box-shadow: $shadow $color;
  -moz-box-shadow: $shadow $color;
  box-shadow: $shadow $color;
}

// Common block title Style.
@mixin blockTitle() {
  font-size: 40px;
  color: $black;
  font-family: "Exo";
  font-weight: 400;
  line-height: 40px;
  @include medium {
    font-size: 28px;
    line-height: 28px;
  }
  @include small-large {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin keyFrameBuild($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}

@mixin keyFrameAnimate($name, $duration, $timing, $delay, $iteration, $direction) {
  -webkit-animation: $name $duration $timing $delay $iteration $direction;
  -moz-animation: $name $duration $timing $delay $iteration $direction;
  -ms-animation: $name $duration $timing $delay $iteration $direction;
  animation: $name $duration $timing $delay $iteration $direction;
}

@mixin rotate($deg: 90) {
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
}

@mixin placeholder($color: #999) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

@mixin text-limit($lines: 1, $line-height: 18) {
  line-height: #{$line-height}px;
  height: #{$lines * $line-height}px;
  overflow: hidden;
}