.grid-wrap {
  margin-top: 55px;
  @include medium {
    margin-top: 25px;
  }
  @include small-large {
    margin-top: 13px;
  }
  .progressive-btn {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .field--field-landing-page-items {
    >div {
      @extend .col-md-3;
      @extend .col-xs-6;
      padding: 0;
      &:nth-of-type(1n + 5) {
        @include medium {
          @include transform(scale(0));
          max-height: 0;
          max-width: 0;
          overflow: hidden;
          @include transition((max-height, transform), ease, 0.5s);
        }
      }
    }
    &.active-items {
      >div {
        &:nth-of-type(1n + 5) {
          @include medium {
            @include transform(scale(1));
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}
