.field--field-tiles{
  display: table-cell;
  vertical-align: middle;

  @media #{$small-and-down} {
    @include flexbox();
    flex-wrap: wrap;
    padding: 20px 0;

    > div {
      width: 50%;

      > .tiles {
        width: 100%;

        > .paragraph--type--tiles {
          @include flexbox();
          justify-content: center;
          flex-direction: column;
          align-items: center;

          .field--field-text {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.tiles {
  @extend .col;
  @extend .m3;
  @extend .s3;
  @extend .l3;
  margin-left: -5px;
  margin-right: -5px;
  white-space: nowrap;
  @media #{$small-and-down} {
    margin-left: -1px;
    margin-right: -1px;
  }
  .field--field-image,
  .field--field-text {
      display: inline-block;
      vertical-align: top;
      padding-left: 5px;
      padding-right: 5px;
      white-space: normal;
   }    
   .field--field-image{
      vertical-align: top;
      @media #{$medium-and-down} {
        vertical-align: middle;
      }
   }
   .field--field-image {
      width: 50px;
      img {
        height: auto;
        max-width: 100%;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
        @media #{$small-and-down} {
          width: 40px;
          padding-left: 1px;
          padding-right: 1px;
        }
      }
    }
   .field--field-text {
      font-size: 15px;
      width: calc(100% - 50px);
      padding: 10px 0;
      @media #{$medium-and-down} {
        font-size: 10px;
      }
      @media #{$small-and-down} {
        font-size: 6px;
        padding-left: 0px;
        padding-right: 1px;
      }
    }
}