.paragraph--type--insights {
  @extend .col;
  @extend .m12;
  @extend .s12;
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
  &.half_width {
    @extend .l6;
    @extend .m12;
    margin: 5px 0px;
    .content_box {
      max-width: 394.46px;
      height: 165.19px;
      @media #{$medium-and-down} {
        // styles for medium screens and down
        position: absolute;
        max-width: 90%;
        width: calc(100% - 30px);
        height: 148.93px;
        left: 15px;
        bottom: 15px;
      }
      @media #{$small-and-down} {
        @media #{$small-and-down} {
          // styles for small screens and down
          position: absolute;
          max-width: 90%;
          width: 100%;
          height: 100px;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          margin-top: auto;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: auto;
        }
      }
    }
  }
  &.full_width {
    @extend .l12;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    @media #{$medium-and-down} {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .content_box {
      max-width: 534.48px;
      height: 149.23px;
      @media #{$medium-and-down} {
        // styles for medium screens and down
        position: absolute;
        max-width: 90%;
        width: 100%;
        height: 141.25px;
        left: 15px;
        bottom: 15px;
      }
      @media #{$small-and-down} {
        // styles for small screens and down
        position: absolute;
        max-width: 90%;
        width: 100%;
        height: 95px;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
      }
    }
  }
}

.insight_image {
  height: 342px;
  position: relative;
  border-radius: 3px;
  transition: all 1s ease;
  background-color: white;
  overflow: hidden;
  @media #{$medium-and-down} {
    // styles for medium screens and down
    height: 280px;
  }
  @media #{$small-and-down} {
    // styles for small screens and down
    height: 140px;
  }
  &:hover {
    .insight_background {
      @include scale(1.2);
    }
  }
  .insight_background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include scale();
    @include transition(transform, ease, 0.5s);
  }
  .content_box {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
  }
  .insight_title {
    font-weight: 800;
    font-size: x-large;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: $black;
    max-height: 66px;
    .marble--title-only & {
      max-height: 99px;
    }
    @media #{$medium-and-down} {
      width: 81%;
      line-height: 34px;
      font-size: x-large;
      max-height: 70px;
      .marble--title-only & {
        max-height: 70px;
      }
    }
    @media #{$small-and-down} {
      width: 100%;
      line-height: normal;
      font-size: 120%;
      margin-top: 5px;
      max-height: 40px;
      .marble--title-only & {
        max-height: 60px;
      }
    }
  }
  .insight_body .body {
    font-size: medium;
    padding: 0px 12px;
    height: 54px;
    line-height: 25px;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    color: $black;
    
    * {
      padding: 10px 0px;
      line-height: inherit;
      font-size: inherit;
    }
    /* trimmed content bug for dd tags */
    dd {
      padding: 21px 0px;
    }
    @media #{$medium-and-down} {
      // styles for medium screens and down
      font-size: medium;
    }
    @media #{$small-and-down} {
      // styles for small screens and down
      height: 45px;
      font-size: 100%;
      line-height: 150%;
    }
  }
  .insight_body .insight_links {
    display: inline-block;
  }
  .content_box .insight_title_links {
    position: absolute;
    bottom: 15px;
    right: 45px;
    @media #{$small-and-down} {
      // styles for small screens and down
      bottom: 5px;
      right: 5px;
    }
  }
  .insight_tags {
    position: absolute;
    top: 15px;
    left: 17px;
    font-weight: 700;
    line-height: 12px;
    font-size: medium;
    @media #{$small-and-down} {
      // styles for small screens and down
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 100%;
    }
  }
  .insight_image_link {
    width: 35px;
    height: 35px;
    @media #{$medium-and-down} {
      // styles for medium screens and down
      width: 26px;
      height: 26px;
    }
    @media #{$small-and-down} {
      // styles for small screens and down
      width: 14px;
      height: 14px;
    }
  }
}
