{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    layout
  ]
%}

{% if content.field_layout.0['#markup'] %}
    {% if content.field_layout.0['#markup'] == 'Full width' %}
      {% set classes = classes|merge(['full_width']) %}
    {% else %}
      {% set classes = classes|merge(['half_width']) %}
    {% endif %}
{% else %}
    {% set classes = classes|merge(['full_width']) %}
{% endif %}

{% if content.field_display_type.0['#markup'] %}
    {% if content.field_display_type.0['#markup'] == 'Title only' %}
      {% set title = '1' %}
      {% set classes = classes|merge(['marble--title-only']) %}
    {% else %}
      {% set title = '2' %}
    {% endif %}
{% else %}
    {% set title = '2' %}
{% endif %}

{% if content.field_tag_colour.0['#markup'] %}
    {% if content.field_tag_colour.0['#markup'] == 'White' %}
      {% set colour = 'white' %}
    {% else %}
      {% set colour = 'black' %}
    {% endif %}
{% else %}
    {% set colour = 'white' %}
{% endif %}

{% if insight_tags %}
    {% set tags = insight_tags %}
{% else %}
    {% set tags = '' %}
{% endif %}

{% if insight_image %}
    {% set image = insight_image %}
{% endif %}

{% if content.field_image.0['#markup'] %}
    {% set image = content.field_image.0['#markup'] %}
{% endif %}


{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="insight_image" >
      <div class="insight_background" style="background-image:url({{ image }});"></div>
        <div class="insight_tags" style="color:{{ colour }}">
          {{ tags }}
        </div>
        <div class="content_box">
          <a href="{{ insight_link }}">
          {% if title == '1'  %}
            <div class="insight_title trim_zyx_content">
              {% if content.field_show_title|length > 2 %}
                {{ content.field_show_title }}
              {% else %}
                {{ insight_title }}
              {% endif %}
            </div>
            <div class="insight_title_links">
              <a href="{{ insight_link }}"><img class="insight_image_link" src="/themes/custom/zyxpro_light/images/icons/arrow-readmore.png" alt="{{ field_show_title }}"></a>
            </div>
          {% else %}
             <div class="insight_title trim_zyx_content">
             {% if content.field_show_title|length > 2 %}
                {{ content.field_show_title }}
            {% else %}
              {{ insight_title }}
            {% endif %}
            </div>
            <div class="insight_body">
              <div class="body">
              {% if content.field_show_content|length > 2 %}
                {{ content.field_show_content }}
              {% else %}
                {{ insight_body|striptags|replace({'/*-->*/': ''}) }}
              {% endif %}
              </div>
            </div>
            <div class="insight_title_links">
              <img class="insight_image_link" src="/themes/custom/zyxpro_light/images/icons/arrow-readmore.png" alt="ReadMore">
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
