.region--header {
  position: relative;
  .header-first-block-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
}

.header-first-block-wrap {
  background-color: rgba($primary, 0.6);
  @extend .text-right;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  @include medium {
    background-color: $primary;
    font-size: 12px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }
  @include small-large {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }
  >div,
  >ul {
    display: inline-block;
    vertical-align: middle;
    min-width: 245px;
    text-align: center;
    font-weight: 300;
    margin: 0;
    @include medium-large {
      min-width: 180px;
    }
    @include medium {
      min-width: 150px;
    }
    @include small-large {
      &:not(.social-media) {
        display: none;
      }
    }
    a {
      color: inherit;
    }
    p {
      margin-bottom: 0;
    }
    &.social-media {
      text-align: right;
      min-width: 200px;
      @include medium {
        min-width: 125px;
      }
    }
  }
  &::after {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
  }
}
