.block--type-card-watermark {
  .field--body {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #6a7a94;
    position: relative;
    top: -50px;
    @media #{$medium-and-down} {
      font-size: 30px;
      top: -25px;
    }
    @media #{$small-and-down} {
      font-size: 17px;
    }
    p {
      margin: 0;
    }
  }
  .field--field-cards {
    text-align: center;
    height: 100%;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    >div {
      width: 27%;
      text-align: center;
      padding: 20px;
      @media #{$medium-and-down} {
        width: 33%;
      }
      @include breakpoint($small-med) {
        width: 80%;
      }
      .paragraph--type--card-watermark {
        display: inline-block;
      }
    }
    @include breakpoint($small-med) {
      flex-direction: column;
    }
  }
}
