.content-blocks-custom {
  text-align: center;
  .content-blocks-button {
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 2px;
    .field--field-link {
      display: inline-block;
      a {
        color: inherit;
        font-weight: 700;
      }
    }
  }
  .content-blocks-text {
    padding-top: 45px;
    .field--field-pre-description {
      font-weight: 700;
      font-size: 30px;
      @media #{$medium-and-down} {
        font-size: 20px;
      }
      @media #{$small-and-down} {
        font-size: 15px;
      }
    }
  }
}
