.row {
  &.paragraph--type--testimonail-item {
    .testimonial {
      padding-left: 0px;
      padding-right: 0px;
      .testimonial_quote,
      .person-details {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

.testimonial {
  @extend .col;
  @extend .m12;
  @extend .s12;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .testimonial_quote {
    @extend .col;
    @extend .m6;
    @extend .s6;
    @extend .l6;
    background: linear-gradient(135deg, #7a47c2 0%, #381ce2 100%);
    text-align: center;
    white-space: nowrap;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .field--field-testimonial-quote {
      white-space: normal;
      font-size: 105%;
      line-height: 30px;
      color: #fff;
      font-style: italic;
      max-width: 75%;
      margin: auto;
      padding-top: 35px;
      padding-bottom: 35px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      @media #{$medium-and-down} {
        line-height: 24px;
        max-width: 430px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
      }
      @media #{$small-and-down} {
        font-size: 95%;
        max-width: 255px;
        padding-top: 10px;
        padding-top: 10px;
      }
      &::before,
      &::after {
        content: "";
        width: 35px;
        height: 25px;
        display: block;
        background-size: 100% auto;
        position: absolute;
        @media #{$medium-and-down} {
          width: 25px;
          height: 17px;
        }
        @media #{$small-and-down} {
          width: 14px;
          height: 11px;
        }
      }
      &::before {
        background-image: url(../../images/icons/Q2.png);
        left: -15px;
        margin-top: -22px;
        @media #{$medium-and-down} {
          left: 0px;
          margin-top: -5px;
        }
        @media #{$small-and-down} {
          left: 0px;
          margin-top: -5px;
        }
      }
      &::after {
        background-image: url(../../images/icons/Q1.png);
        right: -65px;
        bottom: 45px;
        background-position: bottom;
        @media #{$medium-and-down} {
          right: -2px;
          bottom: 2px;
        }
        @media #{$small-and-down} {
          right: -2px;
        }
      }
    }
  }
  .person-details {
    @extend .col;
    @extend .m6;
    @extend .s6;
    @extend .l6;
    background-color: #3c404c;
    text-align: center;
    @media #{$medium-and-down} {
      white-space: nowrap;
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        min-height: inherit;
        vertical-align: middle;
      }
    }
    .person {
      @media #{$medium-and-down} {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
      }
    }
    .person-image {
      margin-top: 20px;
      margin-bottom: 20px;
      img {
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        @media #{$medium-and-down} {
          max-width: 115px;
          max-height: 112px;
        }
      }
      @media #{$medium-and-down} {
        margin-top: 5px;
        margin-bottom: 12px;
      }
    }
    .person-information {
      color: white;
    }
    .person-name {
      margin-bottom: 10px;
      .field--field-name {
        font-size: 110%;
        font-weight: bold;
        p {
          font-size: 120%;
          font-weight: bold;
          margin-top: 0px;
          margin-bottom: 0px;
          @media #{$small-and-down} {
            font-size: 110%;
          }
        }
      }
    }
    .person-designation-company {
      font-size: 110%;
      font-weight: bold;
      margin: 10px 0px;
      @media #{$small-and-down} {
        font-size: 100%;
      }
    }
  }
}

body.path-frontpage {
  .paragraph--type--testimonail-item {
    margin-bottom: 0;
    .testimonial {
      .testimonial_quote,
      .person-details {
        width: 50%;
      }
    }
  }
}
